output
tmp
_MIRROR
/README.html
logs
.DS_Store
.sass-cache/
assets/bioc-version
assets/bioc-devel-version
content/packages/
crash.log
analytics_py/analytics.dat
analytics_py/client_secrets.json
analytics_py/*.pyc
assets/packages
assets/shields
assets/config.yaml
scripts/mailconfig.yml
scripts/maintainer_blacklist.txt
scripts/test.rb
scripts/twitter.yaml
assets/help/workflows/*
workflows_tmp/
content/help/workflows/*
postgresql_password
manifest/*
node_modules/