#!/usr/bin/env ruby

# compilation rules

@@config = YAML.load_file("./config.yaml")


compile '/mailing-list-posts/' do
  filter :erb
  ## no layout as this gets included in homepage '/'
end

compile '/style/*/' do
  filter :sass
end

compile '/sitemap/' do
  # nothing
end


compile '*' do
  case item[:extension]
  when /md$/, /markdown$/
    filter :erb
    filter :rdiscount
  when /haml$/
    filter :haml
  when /html$/
    filter :erb
  when /sass$/
    filter :sass
  end
  if item[:layout]
    layout item[:layout]
  elsif !item.binary?
    layout 'default'
  end
  filter :google_analytics unless item.binary?
end

# routing rules

route '/mailing-list-posts/' do
  nil
end

route '/mailing-list-posts/[0-9]+/' do
  nil
end

route '/sitemap/' do
  item.identifier.chop + '.xml'
end

route '/style/*/' do
  item.identifier.chop + '.css'
end

# biocViews hierarchy
route '/help/bioc-views' do
  "/packages/#{config[:release_version]}/BiocViews.html"
end

# index pages (package lists)
route /^\/help\/bioc-views\/#{@@config["release_version"]}\/all-|^\/help\/bioc-views\/#{@@config["devel_version"]}\/all-/ do # todo improve regex
  long_repo_name = item.identifier.split("-").last.gsub("/", "")
  repo_map = {"Software" => "bioc", "AnnotationData" => "data/annotation", "ExperimentData" => "data/experiment"}
  version = nil
  if item.identifier =~ /^\/help\/bioc-views\/#{config[:release_version]}/
    version = config[:release_version]
  elsif item.identifier =~ /^\/help\/bioc-views\/#{config[:devel_version]}/
    version = config[:devel_version]
  end
  "/packages/#{version}/#{repo_map[long_repo_name]}/index.html"
end

# package detail pages
route /^\/help\/bioc-views\/#{@@config["release_version"]}\/|^\/help\/bioc-views\/#{@@config["devel_version"]}\// do
  pkg_name = item.identifier.split("/").last
  version = nil
  if item.identifier =~ /^\/help\/bioc-views\/#{config[:release_version]}/
    version = config[:release_version]
  elsif item.identifier =~ /^\/help\/bioc-views\/#{config[:devel_version]}/
    version = config[:devel_version]
  end
  "/packages/#{version}/#{item[:repo]}html/#{pkg_name}.html"
end


route '*' do
  if item.binary?
    item.identifier.chop + "." + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

# layouting rules

layout '*', :erb
