#!/usr/bin/env ruby

compile '/mailing-list-posts/' do
  filter :haml
  layout 'default'
end

route '/mailing-list-posts/[0-9]+/' do
  nil
end

compile '/style/*/' do
  filter :sass
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/style/*/' do
  item.identifier.chop + '.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
