
<!--
<div class="hp_alert_box">
  <img src="/images/icons/conference.gif" align="left" alt="" style="margin-right:12px;"/>
  <span style="font-size:larger"><b><a href="https://secure.bioconductor.org/BioC2010/">Bioc 2010</a>: Where Software and Biology Connect</b></span><br/>
  The annual Bioconductor conference is July 28 (developer day), 29, and 30.<br clear="all"/>
</div>
-->
<h1>Dashboard</h1>

<!--
<h4>TODO:</h4>
<ul>
    <li>google analytics</li>
    <li>new packages</li>
    <li>single package builder(?)</li>
</ul>
-->

<div class="hp_options_box">

  <div style="float:left;width:33%;">
    <%= render('/_mlwidget2/', :ml_item => find_item(@items, '/mailing-list-posts/')) %>
  </div>


  <div style="float:left;width:33%;">
      <div style="padding:0 0 0 12px">
      <h2><img src="/images/icons/buildicon.gif" alt=""/><a href="/checkResults/">Build System Status</a></h2>
  </div>


  <div style="float:right;width:33%;">
    <div style="padding:0 0 0 12px">


<a class="twitter-timeline" href="https://twitter.com/Bioconductor" data-widget-id="343120893754626048">Tweets by @Bioconductor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
  </div>

</div>

<div>
      <div style="float:left;width:100%;">
    <div style="padding:0 0 0 12px">
      <h2><img src="/images/icons/buildicon.gif" alt=""/><a href="/checkResults/">Build System Status</a></h2>

    <style type="text/css">
    SPAN.TIMEOUT {
        background: #A08;
        font-weight: bold;
        color: white;
    }
    SPAN.ERROR {
        background: #B33;
        font-weight: bold;
        color: white;
    }
    SPAN.WARNINGS {
        background: #D82;
        font-weight: bold;
        color: white;
    }
    SPAN.OK {
        background: #282;
        font-weight: bold;
        color: #DDD;
    }
    </style>
    <p>
        <span class="TIMEOUT">&nbsp;TIMEOUT&nbsp;</span>
        <span class="ERROR">&nbsp;ERROR&nbsp;</span>
        <span class="WARNINGS">&nbsp;WARNINGS&nbsp;</span>
        <span class="OK">&nbsp;OK&nbsp;</span>
    </p>
       <div>
            <p><a href="/checkResults/devel/bioc-LATEST">Devel, Software</a></P>
            <%= get_build_summary("devel", "bioc") %>
            <p>&nbsp;</p>
      </div>

       <div>
            <p><a href="/checkResults/devel/data-experiment-LATEST">Devel, Experiment Data</a></P>
            <%= get_build_summary("devel", "data-experiment") %>
            <p>&nbsp;</p>
      </div>


       <div>
            <p><a href="/checkResults/release/bioc-LATEST">Release, Software</a></P>
            <%= get_build_summary("release", "bioc") %>
            <p>&nbsp;</p>
      </div>

       <div>
            <p><a href="/checkResults/release/data-experiment-LATEST">Release, Experiment Data</a></P>
            <%= get_build_summary("release", "data-experiment") %>
      </div>


    </div>
  </div>

</div>

<br clear="all"/>
