<style type="text/css">
  SPAN.TIMEOUT {
      background: #A08;
      font-weight: bold;
      color: white;
  }
  SPAN.ERROR {
      background: #B33;
      font-weight: bold;
      color: white;
  }
  SPAN.WARNINGS {
      background: #D82;
      font-weight: bold;
      color: white;
  }
  SPAN.OK {
      background: #282;
      font-weight: bold;
      color: #DDD;
  }
</style>

<h1 class="format-bold">Dashboard</h1>
<div>
  <% page_build_time = get_current_time() %>
  <p>This page was built <abbr class="timeago" title="<%=page_build_time%>">
      <%=page_build_time%></abbr>.</p>
</div>

<div class="page-container">
  
  <section>
    <h2><a href="/checkResults/">Build System Status</a></h2>
    <p>Legend:
      <span class="TIMEOUT">&nbsp;TIMEOUT&nbsp;</span>
      <span class="ERROR">&nbsp;ERROR&nbsp;</span>
      <span class="WARNINGS">&nbsp;WARNINGS&nbsp;</span>
      <span class="OK">&nbsp;OK&nbsp;</span>
    </p>
    <p><br></p>	 	 
  </section>
  
  <section>
    <h4>Release</h4>
    
    <p><a class="text-large format-bold" href="/checkResults/release/bioc-LATEST/">Software</a></p>
    <%= get_build_summary("release", "bioc") %>
    <p>&nbsp;</p>
    
    <p><a class="text-large format-bold" href="/checkResults/release/data-experiment-LATEST/">Experiment Data</a></p>
    <%= get_build_summary("release", "data-experiment") %>
    <p>&nbsp;</p>
    
    <p><a class="text-large format-bold" href="/checkResults/release/workflows-LATEST/">Workflows</a></p>
    <%= get_build_summary("release", "workflows") %>
    <p>&nbsp;</p>
	   
  </section>

  <section>
    <h4>Devel</h4>

    <p><a class="text-large format-bold" href="/checkResults/devel/bioc-LATEST/">Software</a></p>
    <%= get_build_summary("devel", "bioc") %>
    <p>&nbsp;</p>
    
    <p><a class="text-large format-bold" href="/checkResults/devel/data-experiment-LATEST/">Experiment Data</a></p>
    <%= get_build_summary("devel", "data-experiment") %>
    <p>&nbsp;</p>

    <p><a class="text-large format-bold" href="/checkResults/devel/workflows-LATEST/">Workflows</a></p>
    <%= get_build_summary("devel", "workflows") %>
    <p>&nbsp;</p>
 	 
  </section>
       
  <hr class="page-divider" />

  <section>
    <h2>Recent Commits</h2>
    
    <div  style="float:left;width:50%;">
      <p>Last 10 commit to Bioconductor <b>release</b>:
	<%= get_last_git_commits(release=true) %>
      </p>
    </div>
    <div  style="float:right;width:50%;">
      <p>Last 10 commit to Bioconductor <b>devel</b>:
	<%= get_last_git_commits(release=false) %>
      </p>
    </div>
      
  </section>

  <hr class="page-divider" />

  <section>
    <h2>Newest Packages</h2>
 
    <div style="float:left;width:50%;">
      <h6>Software Packages</h6>
      <p> <%=latest_packages("bioc")%> </p>
    </div>
    <div style="float:right;width:50%;">
      <h6>Experiment Data Packages</h6>
      <p> <%=latest_packages("data-experiment")%> </p>
    </div>

  </section>

  <hr class="page-divider" />

  <section>
    <h2>Single Package Builder</h2>
    <a href="https://github.com/Bioconductor/Contributions/issues">All Current Submissions</a>
    <p></p>
    <div style="float:left;width:50%;">
      Recent Submissions <br>
      <%=recent_spb_submissions()%>
    </div>
    <div style="float:right;width:50%;">
      <%=recent_spb_builds()%>
    </div>
    
  </section>

  <hr class="page-divider" />


  <div style="float:left;width:50%;">
    <%= render('/_mlwidget/', :ml_item => get_biostar_post_summaries(@items)) %>
  </div>

  <hr class="page-divider" />

  
  <h2>Mirror Status</h2>

  <% status = mirror_status() %>
  
  <p>Last updated <abbr class="timeago" title="<%=status[:last_updated]%>">
      <%=status[:last_updated]%></abbr>. (Will be updated every 24 hours).</p>

  To use a Bioconductor mirror use the R function `chooseBioCmirror()`
  
  <table>
    <tr>
      <th>URL</th>
      <th>Mirror</th>
      <th>Release</th>
      <th>Devel</th>
    </tr>
    <% for row in status[:status] %>

    <tr>
      <td><a href="<%= row[:url] %>"><%= row[:url] %></a></td>
      <td><%= row[:main] %></td>
      <td><%= row[:release] %></td>
      <td><%= row[:devel] %></td>
    </tr>
    <% end %>
  </table>
  

</div>




  







