   <!-- because this page is special, with three boxes per row, three columns,
        we'll use a bumper image to make sure the heights are all the same
        for each row. (see inv.gif.) make the bumper image for each row taller
		than the tallest  expected content for each row. this is lame, but the
		closest we could come to making the effect look correct on all browsers
		and platforms.

        to avoid problems with ie7, or ie8/compatibility mode, be sure to place a 
        &nbsp; as the last line in each box.  if omitted and the box ends with a 
        <ul> element, the boxes won't line up correctly.  --> 

<div style="width:33%;float:left;">
<%= render("/_bioc_release_packages/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_workflows/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_mailing_list/") %>
</div>

<br clear="all"/>

<div style="width:33%;float:left;">
<%= render("/_newsletters/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_package_vignettes/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_course_materials/") %>
</div>

<br clear="all"/>

<div style="width:33%;float:left;">
<%= render("/_community_help/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_faq/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_help_using_R/") %>
</div>

<br clear="all"/>

<div style="width:33%;float:left;">
<%= render("/_bioc_devel_packages/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_bioc_older_packages/") %>
</div>

<div style="width:33%;float:left;">
<%= render("/_publications/") %>
</div>

<br clear="all"/>

<div style="width:33%;float:left;">
<%= render("/_release_announcements/") %>
</div>
