<div class="shaded_box">

  <table cellspacing="0" cellpadding="0" summary=""><!-- table used for precise positioning -->
    <tr valign="top">
      <td style="border-right:1px silver solid;width:266px;">
        <h1 style="border:0;margin:0;background-image:none">About<br/>Bioconductor</h1>

        <p style="line-height:1.5em;padding-right:5em">
		Bioconductor provides tools for the analysis and comprehension of
		high-throughput genomic data. Bioconductor uses the R statistical
		programming language, and is open source and open development. It
		has two releases each year, 
		<a href="/packages/release/BiocViews.html#___Software">749 software packages</a>, 
		and an active user community. Bioconductor is also 
		available as an <a href="/help/bioconductor-cloud-ami/">
		Amazon Machine Image (AMI)</a>.</p>

      </td>
      <td style="padding-left:35px">
        <p class="olive" style="font-size:large">Use Bioconductor for...</p>
        <!-- 
          The javascript function tidyWorkflows() ensures only
          4 of these show up.
        -->
        <div id="workflows">
          <ul class="big_arrow_list" id="workflows_left" style="float:left;width:43%;">
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/arrays/">Microarrays</a></span>
              <p>
                Import Affymetrix, Illumina, Nimblegen, Agilent, and
                other platforms.  Perform quality assessment,
                normalization, differential expression, clustering,
                classification, gene set enrichment, genetical genomics
                and other workflows for expression, exon, copy number,
                SNP, methylation and other assays.  Access GEO,
                ArrayExpress, Biomart, UCSC, and other community
                resources.
              </p>
            </li>
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/variants/">Variants</a></span>
              <p>
  	      Read and write VCF files. Identify structural location of
  	      variants and compute amino acid coding changes for
  	      non-synonymous variants. Use SIFT and PolyPhen database
  	      packages to predict consequence of amino acid coding
  	      changes.
              </p>
            </li>

          </ul>
          <ul class="big_arrow_list" id="workflows_right" style="float:right;width:43%;">
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/high-throughput-sequencing/">
              Sequence Data</a></span>
              <p>
                Import fasta, fastq, ELAND, MAQ, BWA, Bowtie, BAM, gff,
                bed, wig, and other sequence formats.  Trim, transform,
                align, and manipulate sequences. Perform quality
                assessment, ChIP-seq, differential expression, RNA-seq,
                and other workflows.  Access the Sequence Read Archive.
              </p>
            </li>
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/annotation/annotation/">Annotation</a></span>
              <p>
                Use microarray probe, gene, pathway, gene ontology,
                homology and other annotations.  Access GO, KEGG, NCBI,
                Biomart, UCSC, vendor, and other sources.
              </p>
            </li>
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/highthroughputassays/">
              High Throughput Assays</a></span>
              <p>
                Import, transform, edit, analyze and visualize flow
                cytometric, mass spec, HTqPCR, cell-based, and other
                assays.
              </p>
             </li>
            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/generegulation/">
              Transcription Factors</a></span>
              <p>
                Find candidate binding sites for known transcription factors via sequence matching.
              </p>
             </li>
             <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/workflows/eQTL/">eQTL</a></span>
              <p>
                Cloud-enabled cis-eQTL searches with Bioconductor GGtools 5.x.
              </p>


            <li class="workflow"><span style="font-size:120%;font-weight:bold">
              <a href="/help/course-materials/2013/">
		Recent Courses</a></span>
              <p>
                Explore material from courses in 
                <a href="help/course-materials/2013/">2013</a>.
              </p>
             </li>

            <li class="workflow"><span style="font-size:120%;font-weight:bold">
		<a href="/packages/release/data/experiment/html/parathyroidSE.html">Counting Reads for Differential Expression</a></span>
              <p>
                The <a href="/packages/release/data/experiment/html/parathyroidSE.html">parathyroidSE</a>
                ExperimentData package and vignette illustrates how to
                count reads and perform other common operations
                required for differential expression analysis.
              </p>
             </li>

          </ul>
        </div>
        <!--
        <ul>
             <li><a href="/help/workflows">More Workflows</a></li>
             <li><a href="/help/course-materials/2012/CSC2012/">
              Sequence Analysis</a></li>
             <li><a href="/help/course-materials/2012/SeattleFeb2012/">
                Advanced R/Bioconductor for High-Throughput Sequence Analysis</a></li>
             <li><a href="http://bioconductor.org/help/course-materials/">
                More Course Materials</a></li>

        </ul>
      -->
      </td>

    </tr>
  </table>
</div>
<!--
<div class="hp_alert_box">
  <img src="/images/icons/conference.gif" align="left" alt="" style="margin-right:12px;"/>
  <span style="font-size:larger"><b><a href="https://secure.bioconductor.org/BioC2010/">Bioc 2010</a>: Where Software and Biology Connect</b></span><br/>
  The annual Bioconductor conference is July 28 (developer day), 29, and 30.<br clear="all"/>
</div>
-->
<div class="hp_options_box">

  <div style="float:left;width:33%;">
    <%= render('/_mlwidget/', :ml_item => find_item(@items, '/mailing-list-posts/')) %>
  </div>

  <div style="float:left;width:33%;">
    <div style="padding:0 0 0 12px">
      <h2><img src="/images/icons/calendar.gif" alt=""/><a href="/help/events/">Events</a></h2>
      
      
      <%= render('/_upcoming_events/', :events => find_item(@items, '/help/events/')) %>
      <p style="font-weight:bold"><a href="/help/events/">See all events</a>&nbsp;
	  <span class="blue">&raquo;</span></p>
    </div>
  </div>

  <div style="float:right;width:33%;">
    <div style="padding:0 0 0 12px">

      <!-- NEWS was here -->

<a class="twitter-timeline" href="https://twitter.com/Bioconductor" data-widget-id="343120893754626048">Tweets by @Bioconductor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
  </div>

</div>
<br clear="all"/>
