<div class="shaded_box">

  <table cellspacing="0" cellpadding="0" summary="" style="padding-bottom: 0;"><!-- table used for precise positioning -->
    <tr valign="top">
      <td style="border-right:1px silver solid;width:266px;">

        <h1 style="border:0;margin:0;background-image:none">About<br/><em>Bioconductor</em></h1>

        <p style="line-height:1.5em;padding-right:5em">
		Bioconductor provides tools for the analysis and comprehension of
		high-throughput genomic data. Bioconductor uses the R statistical
		programming language, and is open source and open development. It
		has two releases each year,
		and an active user community. Bioconductor is also
		available as an <a href="/help/bioconductor-cloud-ami/">
		AMI</a> (Amazon Machine Image) and a series of
		<a href="/help/docker/">Docker</a> images.</p>

        <h1 style="border:0;margin:0;background-image:none">Bioc2020</h1>
        <p style="line-height:1.5em;padding-right:5em">
	  Get the latest updates on
	  the  <a href="https://bioc2020.bioconductor.org">Bioc2020 Conference</a>!
          <ul>
	    <li>
	      Call for birds-of-feather, hack-a-thon, and how-to sections.
	      Please
	      see  <a href="https://support.bioconductor.org/p/129518/">posting</a>
	      for more information.
	    </li>
	    <li>
	      Registration is now
	      open. <a href="https://bioc2020.bioconductor.org/registration">Register
	      today</a>.
	    </li>
          </ul>
        </p>

        <h1 style="border:0;margin:0;background-image:none">Bioconductor is hiring!</h1>
        <p style="line-height:1.5em;padding-right:5em">
	  Bioconductor is hiring for
	  a <a href="https://www.roswellpark.org/careers/research/hri-scientist-7283">full-time
	  position</a> on the Bioconductor Core Team! Individual projects are
	  flexible but offer a unique opportunity to contribute novel algoritms
	  and other software development to support high-throughput genomic
	  analysis in R. The minimum requirement is a Master's degree in an
	  appropriate field (Computer Programming, Bioinformatics, Biological
	  Science, etc) with some programming background. Are you ready to have
	  a larger role in the internationally utilized collection of
	  Bioconductor packages?
	  Apply <a href="https://www.roswellpark.org/careers/research/hri-scientist-7283">Today</a>!
	  <br><br>
	  For additional opportunities please see the following: <a href="https://support.bioconductor.org/p/129514/">announcement</a>

        </p>

        <h1 style="border:0;margin:0;background-image:none">News</h1>

        <p style="line-height:1.5em;padding-right:5em">
          <ul>

            <li><a href="/developers/release-schedule/">Release schedule</a>
              for Bioc 3.11 announced.</li>

            <li>Registration and call for abstracts open
            for <a href="https://bioc2020.bioconductor.org/">Bioc2020</a>.</li>

            <li>Bioconductor <a href="/news/bioc_3_10_release/">3.10</a>
              is available.</li>

            <li>Core team <strong>job opportunities</strong> for
              scientific programmer / analyst and senior programmer /
              analyst! contact Martin.Morgan at RoswellPark.org</li>

            <li>Bioconductor
              <a href="http://f1000research.com/channels/bioconductor">F1000
                Research Channel</a> available.</li>

            <li>
              Orchestrating single-cell analysis
              with <em>Bioconductor</em>
              (<a href="https://doi.org/10.1038/s41592-019-0654-x">abstract</a>;
              <a href="https://osca.bioconductor.org">website</a>)
              and other <a href="/help/publications/">recent literature</a>.
            </li>
          </ul>
        </p>

      </td>
      <td style="padding-left:35px">

        <div style = "width:100%;float:left;">
          <div class="shaded_box">
            <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
            <p class="box_header">Professor James Taylor</p>
            <p>
            Professor James Taylor passed away on April 2 2020; Johns
            Hopkins University provides a
            brief <a href="https://bio.jhu.edu/2020/04/03/in-memoriam-professor-james-taylor/">memoriam</a>. We
            in the Bioconductor community knew James as a Galaxy
            project leader, a strong advocate for open and
            reproducible science, and an enthusiastic and
            inspirational colleague. James recognized Bioconductor as
            a kindred spirit, and bridged the relationship between
            Galaxy and Bioconductor through his leadership of the
            NHGRI AnVIL project. James' leadership has deep
            consequences for the way Bioconductor now navigates toward
            large-scale cloud-based computing. James served on the
            Bioconductor Scientific Advisory Board, where he had
            profound influence on our approach to community
            engagement. His supportive and positive demeanor when
            providing thoughtful advice and constructive criticism
            made clear his care and devotion to improving our project
            and the broader scientific endeavor. We all appreciate the
            role Galaxy plays in enabling open and reproducible
            scientific research, and the synergy between the
            day-to-day workings of the Galaxy and Bioconductor
            communities.
            </p><p>
            James' work and personality touched many of us, and we
            share a deep sense of loss from his passing. On behalf of
            the Bioconductor community, we offer our deepest
            condolences to James’ family, friends, trainees, and
            colleagues.
            </p>
          </div>
        </div>

        <br clear="all">

        <div style="width:50%;float:left;">
          <%= render("/_install/") %>
        </div>

        <div style="width:50%;float:left;">
          <%= render("/_learn/") %>
        </div>

        <br clear="all">

        <div style="width:50%;float:left;">
          <%= render("/_use/") %>
        </div>

        <div style="width:50%;float:left;">
          <%= render("/_develop/") %>
        </div>

      </td>
    </tr>
  </table>

</div>

<div class="hp_options_box">

  <div style="float:left;width:33%;">
    <%= render('/_mlwidget/', :ml_item => get_biostar_post_summaries(@items)) %>
  </div>

  <div style="float:left;width:33%;">
    <div style="padding:0 0 0 12px">
      <h2><img src="/images/icons/calendar.gif" alt=""/><a href="/help/events/">Events</a></h2>


      <%= render('/_upcoming_events/', :events => find_item(@items, '/help/events/')) %>
      <p style="font-weight:bold"><a href="/help/events/">See all events</a>&nbsp;
	  <span class="blue">&raquo;</span></p>
    </div>
  </div>

  <div style="float:right;width:33%;">
    <div style="padding:0 0 0 12px">

      <!-- NEWS was here -->

<a class="twitter-timeline" href="https://twitter.com/Bioconductor" data-widget-id="343120893754626048">Tweets by @Bioconductor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>
  </div>

</div>
<br clear="all"/>
