<footer>
  <div class="footer-container">
    <div class="link-container">
      <div class="link-container-inner">
        <nav>
          <a href="/about/index.html"><h3>About</h3></a>
          <a href="/about/annual-reports/">Annual Reports</a>
          <a href="/about/core-team/">Core Team</a>
          <a href="/about/mirrors/">Mirrors</a>
          <a href="/about/related-projects/">Related Projects</a>
          <a href="/about/code-of-conduct/">Code of Conduct</a>
        </nav>
        <nav>
          <a href="/developers/index.html"><h3>Community</h3></a>
          <a href="https://contributions.bioconductor.org/develop-overview.html">Package Guidelines</a>
          <a href="https://contributions.bioconductor.org/submission-overview.html">Package Submission</a>
          <a href="/developers/release-schedule/">Release Schedule</a>
          <a href="https://contributions.bioconductor.org/git-version-control.html">Source Control</a>
        </nav>
      </div>
      <div class="link-container-inner">
        <nav>
          <a href="/help/index.html"><h3>Learn</h3></a>
          <a href="/packages/release/workflows/">Workflows</a>
          <a href="/help/package-vignettes/">Package Vignettes</a>
          <a href="/help/faq/">FAQ</a>
          <a href="/help/support/">Support</a>
          <a href="http://cran.r-project.org/">Using R</a>
          <a href="/help/course-materials/">Courses</a>
          <a href="/help/publications/">Publications</a>
          <a href="/help/docker/">Docker Images</a>
          <a href="https://anvil.bioconductor.org/">Bioc in AnVIL</a>
          <a href="/help/community/">Community Resources</a>
        </nav>
        <nav>
          <a href="/install/index.html"><h3>Get started</h3></a>
          <a href="/install/index.html#install-R">Install R</a>
          <a href="/install/index.html#find-bioconductor-packages">Find Bioconductor Packages</a>
          <a href="/install/index.html#install-bioconductor-packages">Install Bioconductor Packages</a>
          <a href="/install/index.html#update-bioconductor-packages">Update Bioconductor Packages</a>
        </nav>
      </div>
    </div>
    <div class="logo-contact-container">
      <div class="copyright">
        <p> 
          Contact us: <a class="text-underline" href="https://support.bioconductor.org/">support.bioconductor.org</a><br/>
          Copyright &copy; 2003 - <%= Time.now.year %> Bioconductor
        </p>
      </div>

      <div class="socials-logo-container">
        <div class="socials">
          <a href="https://twitter.com/Bioconductor" target="_blank"><img alt="Twitter Logo" src="/images/icons/svgs/twitter.svg" /></a>
          <a href="https://www.youtube.com/user/bioconductor" target="_blank"><img alt="YouTube Logo" src="/images/icons/svgs/youtube.svg" /></a>
          <a href="https://www.linkedin.com/company/bioconductor/" target="_blank"><img alt="LinkedIn Logo" src="/images/icons/svgs/linkedin.svg" /></a>
          <a href="https://genomic.social/@bioconductor" target="_blank"><img alt="Mastodon Logo" src="/images/icons/svgs/mastodon.svg" /></a>  
        </div>
        <img class="footer-logo" src="/images/logo/svg/BC-Logo-White.svg" alt="BioConductor Logo in White" />
      </div>
    </div>
  </div>
</footer>
