<div class="homepage-container">
  <h1 class="text-hero format-bold">
    Open source <br class="mobile-break" />software for <br /><mark
      >Bioinformatics</mark
    >
  </h1>
  <p class="text-large">
    The Bioconductor project aims to develop and share open source software for
    precise and repeatable analysis of biological data.<br />
    We foster an inclusive and collaborative community of developers and data
    scientists.
  </p>
  <a class="button button-hero text-h6 format-bold" href="/install/">
    Get started
    <img src="images/icons/svgs/chevron-right.svg" alt="chevron-right" />
  </a>
</div>
