<div class="gradient-border learn container">
  <div class="section-block" style="margin: 2px;">

    <h2>Quick Stats</h2>
    <p>Last updated <abbr class="timeago" title="2023-12-21">"2023-12-18"</abbr></p>

    <p class="text-large">3649 total <mark class="text-gradient format-bold">Release Packages</mark></p>
    <p class="text-large">42711839 distinct <mark class="text-gradient format-bold">Software Downloads</mark></p>
    
    <p class="text-large">18999 active <mark class="text-gradient format-bold">Support Site Members</mark> in the last year</p> 
    <p class="text-large">440 active <mark class="text-gradient format-bold">Slack Members</mark></p>

    <p class="text-large">122000 <mark class="text-gradient format-bold">Google Scholar</mark> results</p>
   
    
    <p>Request updated statistics from:  <a href="mailto:maintainer@bioconductor.org">maintainer@bioconductor.org</a></p>
 
  </div>
</div>
