<div class="gradient-border learn container">
  <div class="section-block" style="margin: 2px;">

    <h2>Quick Stats</h2>
    <p>Last updated <abbr class="timeago" title="2023-12-18">"2023-12-18"</abbr></p>

    <p class="text-large">3649 <mark class="text-gradient format-bold">Total Released Packages</mark></p>
    <p class="text-large">74848 <mark class="text-gradient format-bold">Support Site Members</mark></p>
    <p class="text-large">2954 <mark class="text-gradient format-bold">Slack Members</mark></p>

    
    
    <p>Request updated statistics from:  <a href="mailto:maintainer@bioconductor.org">maintainer@bioconductor.org</a></p>
 
  </div>
</div>
