<section class="events">
  <span class="events-header container">
    <h3>🗓️ Events</h3>
    <a class="button white-button format-bold" href="/help/events/"
      >See all events
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="15"
        viewBox="0 0 14 15"
        fill="none"
      >
        <path
          d="M5.25 3.66665L9.33333 7.74998L5.25 11.8333"
          stroke="#3792AD"
          stroke-width="2.2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </span>
  <div class="events-container">
    <div class="event-card-container">
      <div class="event-card">
        <p class="format-bold">
          CSHL course: Statistical Analysis of Genome Scale Data
        </p>
        <div class="event-date-location">
          <span>
            <time class="text-small" datetime="2023-06-30">30 June</time> -
            <time class="text-small" datetime="2023-07-13">13 July 2023</time>
          </span>
          <p class="text-small">New York, USA</p>
        </div>
      </div>
    </div>
    <div class="event-card-container">
      <div class="event-card">
        <p class="format-bold">
          ISMB/ECCB 2023 tutorial: Orchestrating Large-Scale Single-Cell
          Analysis with Bioconductor
        </p>
        <div class="event-date-location">
          <span>
            <time class="text-small" datetime="2023-07-23">23 July 2023</time>
          </span>
          <p class="text-small">Lyon, France</p>
        </div>
      </div>
    </div>
    <div class="event-card-container">
      <div class="event-card">
        <p class="format-bold">RNA-seq analysis with Bioconductor</p>
        <div class="event-date-location">
          <span class="event-date-location">
            <time class="text-small" datetime="2023-07-31">31 June</time> -
            <time class="text-small" datetime="2023-08-01">01 August 2023</time>
          </span>
          <p class="text-small">Boston, USA</p>
        </div>
      </div>
    </div>
    <div class="event-card-container">
      <div class="event-card">
        <p class="format-bold">BioC2023: Where Software and Biology Connect</p>
        <div class="event-date-location">
          <span class="event-date-location">
            <time class="text-small" datetime="2023-08-02">02</time> -
            <time class="text-small" datetime="2023-08-04">04 August 2023</time>
          </span>
          <p class="text-small">Boston, USA and Virtual Conference</p>
        </div>
      </div>
    </div>
    <div class="event-card-container">
      <div class="event-card">
        <p class="format-bold">
          EuroBioC2023: European Bioconductor Conference
        </p>
        <div class="event-date-location">
          <span>
            <time class="text-small" datetime="2023-08-02">02</time> -
            <time class="text-small" datetime="2023-08-04">04 August 2023</time>
          </span>
          <p class="text-small">Ghent, Belgium</p>
        </div>
      </div>
    </div>
  </div>
</section>
