<div class="data-scientist-and-developer-info container">
  <input type="radio" class="tab-radio data-scientist-radio" name="homepage-tab" id="data-scientist-tab" checked />
  <label for="data-scientist-tab" class="tab-label data-scientist-radio format-bold">
    For Data scientists
  </label>
  <section class="tab-content">
    <div class="data-scientist-container">
      <h2>Create bioinformatic solutions with Bioconductor</h2>
      <div class="doodle-data-scientist-container">
        <div class="left-doodle">
          <img src="images/Doodles/Doodle-1.png" alt="start using bioconductor now!" />
        </div>
        <div class="brand-gradient-border">
          <div class="data-scientist-content">
            <div class="green-box">
              <p class="text-large">
                <img src="images/icons/svgs/arrow-circle-right.svg" alt="" />
                <a class="format-underline" href="/packages/release/BiocViews.html#___Software">Software</a>,
                <a class="format-underline" href="/packages/release/BiocViews.html#___AnnotationData">Annotation</a>
                and
                <a class="format-underline" href="/packages/release/BiocViews.html#___ExperimentData">Experiment</a>
                packages
              </p>
              <p class="text-large">
                <img src="images/icons/svgs/arrow-circle-right.svg" alt="" />
                <a class="format-underline" href="/help/docker/">Docker containers for Bioconductor</a>
              </p>
            </div>
            <div class="data-scientist-rest">
              <div class="data-scientist-rest-row">
              <p>📖</p><p class="text-large">
                Bioconductor Books:
                <a class="format-underline" href="/books/release/csawBook">csawBook</a>,
                <a class="format-underline" href="/books/release/OSCA">OSCA</a>
                and
                <a class="format-underline" href="/books/release/SingleRBook">SingleRBook</a>
              </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>📣</p>
                <p class="text-large">
                  <a class="format-underline" href="/news/bioc_<%= config[:release_version].sub(" .", "_" )
                    %>_release/">Latest release announcement</a>
                </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>🛠️</p>
                <p class="text-large">
                  <a class="format-underline" href="https://anvilproject.org">Use Bioconductor in the AnVIL</a>.
                  See our
                  <a class="format-underline" href="https://anvil.bioconductor.org">project updates</a>
                </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>💬</p>
                <p class="text-large">
                  <a class="format-underline" href="https://slack.bioconductor.org/">Community Slack sign-up</a>
                </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>💡</p><p class="text-large"><a class="format-underline" href="/help/support/">Support site</a></p>
              </div>
              <div class="data-scientist-rest-row">
                <p>🗓️</p><p class="text-large"><a class="format-underline"
                    href="http://bioconductor.org/help/events/">Events calendar</a></p>
              </div>
            </div>
            <div class="warmcool-gradient-border">
              <div class="user-quote">
                <img src="images/profiles/profile.jpg" alt="profile picture" />
                <div>
                  <p class="text-h6 format-bold">
                    “Bioconductor allows me to quickly and easily experiment
                    with packages to help improve my RNA-Seq analysis
                    pipeline”
                  </p>
                  <p class="text-small">
                    Annalise - Data Analyst, Organisation
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-doodle">
          <img src="images/Doodles/Doodle-2.png" alt="learn more about bioconductor" />
        </div>
      </div>
      <a class="data-dev-chip data-chip" href="/help/support/">
        <div class="data-dev-logo">
          <img src="images/icons/svgs/question-mark-circle.svg" alt="question mark circle" width="28" height="28" />
          <p>Need some help? Ask our community on the Bioconductor Support site!</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </section>

  <input type="radio" class="tab-radio developer-radio" name="homepage-tab" id="developer-tab" />
  <label for="developer-tab" class="tab-label developer-radio format-bold">
    For Developers
  </label>
  <section class="tab-content">
    <div class="developer-container">
      <h2>Contribute to Bioconductor</h2>
      <div class="doodle-developer-container">
        <img src="images/Doodles/code-left.png" alt="left-side code block" />
        <div class="warmcool-gradient-border">
          <div class="developer-content">
            <div class="dev-navs">
              <nav class="dev-nav">
                <p class="text-large">
                  # <a href="/developers/">Developers resources</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/use-devel.html">Use Bioc 'devel'</a>
                </p>
                <p class="text-large">
                  #
                  <a href="/packages/devel/BiocViews.html#___Software">'Devel' packages</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/">Package guidelines</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/submission-overview.html">New package submission</a>
                </p>
              </nav>
              <nav class="dev-nav">
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/git-version-control.html">Git source control</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://git.bioconductor.org/BiocCredentials/">Git Credentials App</a>
                </p>
                <p class="text-large">
                  # <a href="/checkResults/">Build reports</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/troubleshooting-build-report.html">Troubleshooting
                    Build Reports</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://code.bioconductor.org/">Browsable code base</a>
                </p>
              </nav>
            </div>
            <div class="warmcool-gradient-border dev-comment">
              <div class="dev-quote">
                <img src="images/profiles/charlie.jpg" alt="profile picture" />
                <div class="avatar-content">
                  <p class="text-large format-bold">
                    "The bioconductor community and resources make a package
                    developments straightforward and rewarding!"
                  </p>
                  <p class="format-bold">Charlie - Package Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="images/Doodles/code-right.png" alt="right-side code block" />
      </div>
      <a class="data-dev-chip dev-chip" href="https://slack.bioconductor.org/">
        <div class="data-dev-logo">
          <img src="images/icons/slack.png" alt="slack logo" />
          Join Bioconductor on Slack, and meet hundreds of other developers!
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </section>
</div>

<a class="mobile-text-block container">
    <div class="data-dev-logo">
      <img src="images/icons/svgs/question-mark-circle.svg" alt="question mark circle" width="28" height="28" />
      <p>Need some help? Ask our <br>community on the Bioconductor Support site!</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </a>
