<div class="data-scientist-and-developer-info container">
  <input type="radio" class="tab-radio data-scientist-radio" name="homepage-tab" id="data-scientist-tab" checked />
  <label for="data-scientist-tab" class="tab-label data-scientist-radio format-bold">
    For Users
  </label>
  <section class="tab-content">
    <div class="data-scientist-container container">
      <h2>Create bioinformatic solutions with Bioconductor</h2>
      <div class="doodle-data-scientist-container">
        <div class="left-doodle">
          <img src="images/Doodles/Doodle-1.png" alt="start using bioconductor now!" />
        </div>
        <div class="brand-gradient-border">
          <div class="data-scientist-content">
            <div class="green-box">
              <p class="text-large">
                <img src="images/icons/svgs/arrow-circle-right.svg" alt="Right circle" />
                <a class="format-underline" href="/packages/release/BiocViews.html#___Software">Software</a>,
                <a class="format-underline" href="/packages/release/BiocViews.html#___AnnotationData">Annotation</a>
                and
                <a class="format-underline" href="/packages/release/BiocViews.html#___ExperimentData">Experiment</a>
                Packages
              </p>
              <p class="text-large">
                <img src="images/icons/svgs/arrow-circle-right.svg" alt="Right circle" />
                <a class="format-underline" href="/help/docker/">Docker Containers for Bioconductor</a>
              </p>
              <p class="text-large">
                <img src="images/icons/svgs/arrow-circle-right.svg" alt="Right circle" />
                Use Bioconductor in the <a class="format-underline" href="https://anvil.bioconductor.org">AnVIL</a>
              </p>
            </div>
            <div class="data-scientist-rest">
              <div class="data-scientist-rest-row">
              <p>📖</p><p class="text-large">
                <a class="format-underline" href="/help/bioconductor-books/">Bioconductor Books</a>
              </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>📣</p>
                <p class="text-large">
                  <a class="format-underline" href="/news/bioc_<%= config[:release_version].sub(".", "_") %>_release/">
                    Latest Release Announcement
                  </a>
                </p>
              </div>
             <div class="data-scientist-rest-row">
                <p>💬</p>
                <p class="text-large">
                  <a class="format-underline" href="https://slack.bioconductor.org/">Community Slack</a>
                </p>
              </div>
              <div class="data-scientist-rest-row">
                <p>💡</p>
		<p class="text-large">
		  <a class="format-underline" href="/help/support/">Support Forums</a></p>
              </div>
              <div class="data-scientist-rest-row">
                <p> <img src="images/icons/help.gif" alt="info" width="20" height="20"/></p>
		<p class="text-large">
		  <a class="format-underline" href="/help/">Learn More</a></p>
              </div>
            </div>
         </div>
        </div>
        <div class="right-doodle">
          <img src="images/Doodles/Doodle-2.png" alt="learn more about bioconductor" />
        </div>
      </div>
      <a class="data-dev-chip data-chip" href="https://support.bioconductor.org/">
        <div class="data-dev-logo">
          <img src="images/icons/svgs/question-mark-circle.svg" alt="question mark circle" width="28" height="28" />
          <p>Need some help? Ask our community on the Bioconductor Support site!</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </section>

  <input type="radio" class="tab-radio developer-radio" name="homepage-tab" id="developer-tab" />
  <label for="developer-tab" class="tab-label developer-radio format-bold">
    For Developers
  </label>
  <section class="tab-content">
    <div class="developer-container">
      <h2>Contribute to Bioconductor</h2>
      <div class="doodle-developer-container">
<!--        <img src="images/Doodles/code-left.png" alt="left-side code block" />    -->
        <div class="brand-gradient-border" style="margin-bottom:10px">
          <div class="developer-content">
            <div class="dev-navs">
              <nav class="dev-nav">
                <p class="text-large">
                  #
                  <a href="/dashboard/">Bioconductor Dashboard</a>
                </p>
                <p class="text-large">
                  # <a href="/developers/">Developers Resources</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/use-devel.html">Use Bioc 'devel'</a>
                </p>
                <p class="text-large">
                  #
                  <a href="/packages/devel/BiocViews.html#___Software">Available 'Devel' packages</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/">Package Guidelines</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/submission-overview.html">New Package Submission</a>
                </p>
              </nav>
              <nav class="dev-nav">
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/git-version-control.html">Git Source Control</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://git.bioconductor.org/BiocCredentials/">Git Credentials App</a>
                </p>
                <p class="text-large">
                  # <a href="/checkResults/">Build Reports</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://contributions.bioconductor.org/troubleshooting-build-report.html">Troubleshooting
                    Build Reports</a>
                </p>
                <p class="text-large">
                  #
                  <a href="https://code.bioconductor.org/">Browsable Code Base</a>
                </p>
              </nav>
            </div>
          </div>
        </div>
<!--        <img src="images/Doodles/code-right.png" alt="right-side code block" />    -->
      </div>
      <a class="data-dev-chip dev-chip" href="https://slack.bioconductor.org/">
        <div class="data-dev-logo">
          <img src="images/icons/slack.png" alt="slack logo" />
          Join Bioconductor on Slack, and meet other users and developers!
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </section>
</div>

<a class="mobile-text-block container" href="https://support.bioconductor.org/">
    <div class="data-dev-logo">
      <img src="images/icons/svgs/question-mark-circle.svg" alt="question mark circle" width="28" height="28" />
      <p>Need some help? Ask our <br>community on the Bioconductor Support site!</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M9 5.90002L16 12.9L9 19.9" stroke="white" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </a>
