## define a variable that contains the protocol (http or https) of the
## current request.
## You can refer to the variable as  %{ENV:proto} and it will
## expand to its value.
## from http://stackoverflow.com/a/20419821/470769
# initialization code - put only once at the beginning of .htaccess
RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ - [env=proto:https]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ - [env=proto:http]


## handle cache expiration times
ExpiresActive On
ExpiresByType text/html A600
ExpiresByType text/javascript A600

<ifModule mod_headers.c>
<FilesMatch "PACKAGES$|PACKAGES\.gz$|PACKAGES\.rds$|VIEWS">
Header set Cache-Control "max-age=30"
</FilesMatch>
<FilesMatch "\.json$|\.js$">
Header set Cache-Control "max-age=600"
</FilesMatch>
<FilesMatch "\.rss$">
Header set Cache-Control "max-age=300"
</FilesMatch>
<FilesMatch "gitlog\.xml$">
Header set Cache-Control "max-age=30"
</FilesMatch>
<FilesMatch "^biocLite\.R$|^BiocInstaller\.dcf$">
Header set Cache-Control "max-age=60"
</FilesMatch>
<FilesMatch "\.svg$">
Header set Cache-Control "max-age=30"
</FilesMatch>
<FilesMatch "\.csv$">
Header set Cache-Control "max-age=30"
</FilesMatch>
<FilesMatch "^config\.yaml$">
Header set Cache-Control "max-age=30"
</FilesMatch>

</ifModule>

<IfModule mod_rewrite.c>
RewriteEngine On
DirectorySlash On 
RewriteBase /

## Redirect www. to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=302,L]
RewriteRule ^(.*)/index_html$ $1/ [R=302]
RewriteRule ^developers/how-to/git-mirror/$ /developers/how-to/git-mirrors/ [PT]
RewriteRule ^BioC2016/$ %{ENV:proto}://bioconductor.org/help/course-materials/2016/BioC2016/ [R=302]
RewriteRule ^BioC2017/$ %{ENV:proto}://bioconductor.org/help/course-materials/2017/BioC2017/ [R=302,NC]

## Handle omitted trailing slash:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ %{ENV:proto}://bioconductor.org/$1/ [L,R]

## Redirect BioC versions 1.8-3.16 to OSN
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/bioc/src/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/bioc/src/$2
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/bioc/bin/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/bioc/bin/$2
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/data/annotation/src/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/data/annotation/src/$2
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/data/annotation/\s?bin/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/data/annotation/bin/$2
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/data/experiment/src/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/data/experiment/src/$2
RedirectMatch 302 /packages/(1.[8-9]|2.[0-9]|2.1[0-4]|3.[0-9]|3.1[0-6])/data/experiment/\s?bin/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/data/experiment/bin/$2
# BioC 2.1 has an additional extannotation/ directory
RedirectMatch 302 /packages/2.1/data/extannotation/src/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/2.1/data/extannotation/src/$1
RedirectMatch 302 /packages/2.1/data/extannotation/bin/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/2.1/data/extannotation/bin/$1
# Starting in 2.13 also had workflows
RedirectMatch 302 /packages/(2.1[3-4]|3.[0-9]|3.1[0-4])/workflows/src/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/workflows/src/$2
RedirectMatch 302 /packages/(2.1[3-4]|3.[0-9]|3.1[0-4])/workflows/bin/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/workflows/bin/$2
# 3.7 and 3.8 had webvigs in workflows
RedirectMatch 302 /packages/(3.[7-8])/workflows/webvigs/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/workflows/webvigs/$2
RedirectMatch 302 /packages/(3.[7-8])/workflows/webvigs/(.*) https://mghp.osn.xsede.org/bir190004-bucket01/archive.bioconductor.org/packages/$1/workflows/webvigs/$2


## Redirect BioC containers to google storage
RedirectMatch 302 /packages/(3.[0-9][0-9])/container-binaries/src/(.*) https://storage.googleapis.com/bioconductor-packages/$1/container-binaries/bioconductor_docker/src/$2
RedirectMatch 302 /packages/(3.[0-9][0-9])/container-binaries/(.*) https://storage.googleapis.com/bioconductor-packages/$1/container-binaries/$2

## papers, slides, screen shots
RewriteRule ^Docs/Papers/2003/Chiaretti$ /help/publications/2003/Chiaretti/chiaretti2/ [R=301]
RewriteRule ^docs/papers.*$ /help/publications/ [R=301]
RewriteRule ^docs/pslides.*$ /help/publications/ [R=301]
RewriteRule ^PackageSlides.*$ /help/publications/ [R=301]
RewriteRule ^overview/screenshots.*$ /help/publications/ [R=301]
RewriteRule ^pub/workingpapers.*$ /help/publications/ [R=301]
RewriteRule ^QA.*$ /help/publications/ [R=301]

## workflows
RewriteRule ^docs/workflows/oligoarrays(.*)$ /help/workflows/oligo-arrays$1 [R=301]
RewriteRule ^docs/workflows/htmlpsequencing(.*)$ /help/workflows/high-throughput-sequencing$1 [R=301]
RewriteRule ^docs/workflows/accessingAnnotData(.*)$ /help/workflows/annotation-data$1 [R=301]
RewriteRule ^docs/workflows/flowcytometry(.*)$ /help/workflows/high-throughput-assays$1 [R=301]
RewriteRule ^docs/workflows/flowoverview.*$ /help/workflows/high-throughput-assays/ [R=301]
RewriteRule ^docs/workflows/index.html$ /help/workflows/ [R=301]
RewriteRule ^docs/workflows/?$ /help/workflows/ [R=301]

RewriteRule ^help/workflows/annotation/(.*)/$ /packages/release/workflows/html/annotation/$1/index.html [R=301]
RewriteRule ^help/workflows/(.*)/$ /packages/release/workflows/html/$1.html [R=301]

## general help
RewriteRule ^help/bioc-views/(.*)$ /packages/$1 [R=301]
RewriteRule ^mailList.html$ /help/mailing-list/ [R=301]
RewriteRule ^docs/mailList.html$ /help/mailing-list/ [R=301]
RewriteRule ^docs/vignettes.html$ /help/package-vignettes/ [R=301]
RewriteRule ^docs/postingGuide.html$ /help/mailing-list/posting-guide/ [R=301]
RewriteRule ^News.*$ /help/events/ [R=301]
RewriteRule ^docs/gettingHelp.html$ /help/ [R=301]
RewriteRule ^docs/index.html$ /help/ [R=301]
RewriteRule ^docs/?$ /help/ [R=301]

## book chapters
RewriteRule ^pub/MiMB$ /help/publications/book-chapters/MiMB [R=301]

## books
RewriteRule ^pub/biocases/BioconductorCaseStudiesSmall$ /help/publications/books/bioconductor-case-studies/case-studies-small.jpg [R=301]
RewriteRule ^pub/biocases/BiocCaseStudies$ /help/publications/books/bioconductor-case-studies/case-studies.jpg [R=301]
RewriteRule ^pub/biocases/BiocCaseStudiesLarge$ /help/publications/books/bioconductor-case-studies/case-studies-large.jpg [R=301]
RewriteRule ^pub/biocases/websupp(.*)$ /help/publications/books/bioconductor-case-studies/web-supplement$1 [R=301]
RewriteRule ^pub/biocases(.*)$ /help/publications/books/bioconductor-case-studies$1 [R=301]
RewriteRule ^pub/docs/BioconductorCaseStudies.*$ /help/publications/books/bioconductor-case-studies/ [R=301]

RewriteRule ^pub/RBioinf/RProgrammingForBioinformatics$ /help/publications/books/r-programming-for-bioinformatics/rbioinf.jpg [R=301]
RewriteRule ^pub/RBioinf/RProgrammingforBioinformaticsSmall$ /help/publications/books/r-programming-for-bioinformatics/rbioinf-small.jpg [R=301]
RewriteRule ^pub/RBioinf/websupp(.*)$ /help/publications/books/r-programming-for-bioinformatics/web-supplement$1 [R=301]
RewriteRule ^pub/RBioinf(.*)$ /help/publications/books/r-programming-for-bioinformatics$1 [R=301]

RewriteRule ^bioconductor_book.jpg$ /help/publications/books/bioinformatics-and-computational-biology-solutions/bioconductor_book.jpg [R=301]
RewriteRule ^docs/mogr/bc1view$ /help/publications/books/bioinformatics-and-computational-biology-solutions/bc1view.jpg [R=301]
RewriteRule ^docs/mogr/bcbook$ /help/publications/books/bioinformatics-and-computational-biology-solutions/bcbook.jpg [R=301]
RewriteRule ^docs/mogr/mogrtest.*$ /help/publications/books/bioinformatics-and-computational-biology-solutions/ [R=301]
RewriteRule ^docs/mogr(.*)$ /help/publications/books/bioinformatics-and-computational-biology-solutions$1 [R=301]
RewriteRule ^mogr(.*)$ /help/publications/books/bioinformatics-and-computational-biology-solutions$1 [R=301]

RewriteRule ^pub(.*)$ /help/publications$1 [R=301]

## technical reports
RewriteRule ^docs/techreports/TR1/relProjTR.pdf$ /help/publications/tech-reports/relProjTR.pdf$1 [R=301]
RewriteRule ^docs/techreports/TR2/currProgTR.pdf$ /help/publications/tech-reports/currProgTR.pdf$1 [R=301]
RewriteRule ^docs/techreports(.*)$ /help/publications/tech-reports$1 [R=301]

## faq
RewriteRule ^docs/faq.*$ /about/ [R=301]

## annual reports
RewriteRule ^docs/annualreports(.*)$ /about/annual-reports$1 [R=301]

## mirrors
RewriteRule ^download/mirrors/mirror-howto.html$ /about/mirrors/mirror-how-to/ [R=301]
RewriteRule ^download/mirrors(.*)$ /about/mirrors$1 [R=301]

## overview
RewriteRule ^overview/coredevs.*$ /about/core-team/ [R=301]
RewriteRule ^overview/related.*$ /about/related-projects/ [R=301]
RewriteRule ^overview/advisoryboard.*$ /about/ [R=301]
RewriteRule ^about/advisory-board/.*$ /about/ [R=301]
RewriteRule ^overview/acks.html$ /about/ [R=301]
RewriteRule ^overview(.*)$ /about$1 [R=301]

## workshops
RewriteRule ^workshops(.*)$ /help/course-materials$1 [R=301]
RewriteRule ^docs/fairUse.html$ /help/course-materials/ [R=301]
RewriteRule ^services.*$ /help/course-materials/ [R=301]
RewriteRule ^talks.*$ /help/course-materials/ [R=301]

## Is this valid?
RewriteCond %{REQUEST_FILENAME} (.*)\.html$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %1 -d
RewriteRule ^.*$ %1/ [R=301]

## general catch-alls
RewriteRule ^docs/install.*$ /install/ [R=301]
RewriteRule ^download.*$ /install/ [R=301]

## misc
RewriteRule ^apptest.*$ / [R=301]
RewriteRule ^bioc1.7release$ /help/ [R=301]
RewriteRule ^bugs.*$ /help/mailing-list/posting-guide/ [R=301]
RewriteRule ^copy_of_index_html$ / [R=301]
RewriteRule ^docs/bioclogo.*$ /images/logo_bioconductor.gif [R=301]
RewriteRule ^GettingStarted.*$ / [R=301]
RewriteRule ^index_html$ / [R=301]
RewriteRule ^index_html_old$ / [R=301]
RewriteRule ^main.html$ / [R=301]
RewriteRule ^slogan.*$ /about/ [R=301]
RewriteRule ^help/mailing-lis.*$ /help/support [R=301]
RewriteRule ^BioC2015/$ http://bioconductor.org/help/course-materials/2015/BioC2015/ [R=301]

##
## Developers Page move to contributions.bioconductor.org
##

RewriteRule ^developers/deprecatio.*$ https://contributions.bioconductor.org/deprecation.html [R=301]
RewriteRule ^developers/useDeve.*$ https://contributions.bioconductor.org/use-devel.html [R=301]
RewriteRule ^developers/source-contro.*$ https://contributions.bioconductor.org/git-version-control.html [R=301]
RewriteRule ^developers/unitTesting-guideline.*$ https://contributions.bioconductor.org/tests.html [R=301]
RewriteRule ^developers/coding-styl.*$ https://contributions.bioconductor.org/r-code.html#r-code [R=301]
RewriteRule ^developers/c-debuggin.*$ https://contributions.bioconductor.org/debugging-cc-code.html [R=301]
RewriteRule ^developers/version-numberin.*$ https://contributions.bioconductor.org/versionnum.html [R=301]
RewriteRule ^developers/BiocCheck.htm.*$ /packages/devel/bioc/vignettes/BiocCheck/inst/doc/BiocCheck.html [R=301]

RedirectMatch 301 /developers/package-end-of-life/.*$  https://contributions.bioconductor.org/package-end-of-life-policy.html
RedirectMatch 301 /developers/package-submission.*$ https://contributions.bioconductor.org/submission-overview.html

##
## developers/how-to/ sections
##

RedirectMatch 301 /developers/how-to/biocViews.*$ https://contributions.bioconductor.org/important-bioconductor-package-development-features.html#biocviews
RedirectMatch 301 /developers/how-to/c-debugging.*$ https://contributions.bioconductor.org/debugging-cc-code.html
RedirectMatch 301 /developers/how-to/coding-style.*$ https://contributions.bioconductor.org/r-code.html#r-code
RedirectMatch 301 /developers/how-to/commonMethodsAndClasses.*$ https://contributions.bioconductor.org/important-bioconductor-package-development-features.html#reusebioc
RedirectMatch 301 /developers/how-to/deprecation.*$ https://contributions.bioconductor.org/deprecation.html
RedirectMatch 301 /developers/how-to/efficient-code.*$ https://contributions.bioconductor.org/r-code.html#robust-and-efficient-r-code
RedirectMatch 301 /developers/how-to/git.html https://contributions.bioconductor.org/git-version-control.html
RewriteRule ^developers/how-to/git-mirrors.*$ /about/mirrors/mirror-how-to.html [R=301]
RedirectMatch 301 /developers/how-to/long-tests.*$ https://contributions.bioconductor.org/long-tests.html
RedirectMatch 301 /developers/how-to/mavericks-howto.*$ https://contributions.bioconductor.org/cmavericks-best-practices.html
RedirectMatch 301 /developers/how-to/source-contro.*$ https://contributions.bioconductor.org/git-version-control.html
RedirectMatch 301 /developers/how-to/troubleshoot-build-report.*$ https://contributions.bioconductor.org/troubleshooting-build-report.html
RedirectMatch 301 /developers/how-to/unitTesting-guidelines.*$ https://contributions.bioconductor.org/tests.html
RedirectMatch 301 /developers/how-to/useDevel.*$ https://contributions.bioconductor.org/use-devel.html
RedirectMatch 301 /developers/how-to/version-numbering.*$ https://contributions.bioconductor.org/versionnum.html
RedirectMatch 301 /developers/how-to/web-query.*$ https://contributions.bioconductor.org/querying-web-resources.html
RedirectMatch 301 /developers/how-to/workflows.*$ https://contributions.bioconductor.org/non-software.html#workflow-packages

##
## developers/how-to/git/ sections
##
RedirectMatch 301 /developers/how-to/git/abandon-changes.*$ https://contributions.bioconductor.org/git-version-control.html#abandon-changes
RedirectMatch 301 /developers/how-to/git/add-collaborators.*$ https://contributions.bioconductor.org/git-version-control.html#add-collaborators-and-leverage-github-features
RedirectMatch 301 /developers/how-to/git/bug-fix-in-release-and-devel.*$ https://contributions.bioconductor.org/git-version-control.html#bug-fix-in-release-and-devel
RedirectMatch 301 /developers/how-to/git/change-maintainer.*$ https://contributions.bioconductor.org/git-version-control.html#change-maintainer
RedirectMatch 301 /developers/how-to/git/create-local-repository.*$ https://contributions.bioconductor.org/git-version-control.html#create-local-repository
RedirectMatch 301 /developers/how-to/git/faq.*$ https://contributions.bioconductor.org/git-version-control.html#faq
RedirectMatch 301 /developers/how-to/git/maintain-bioc-only.*$ https://contributions.bioconductor.org/git-version-control.html#maintain-bioc-only
RedirectMatch 301 /developers/how-to/git/maintain-github-bioc.*$ https://contributions.bioconductor.org/git-version-control.html#maintain-github-bioc
RedirectMatch 301 /developers/how-to/git/new-package-workflow.*$ https://contributions.bioconductor.org/git-version-control.html#new-package-workflow
RedirectMatch 301 /developers/how-to/git/pull-upstream-changes.*$ https://contributions.bioconductor.org/git-version-control.html#pull-upstream-changes
RedirectMatch 301 /developers/how-to/git/push-to-github-bioc.*$ https://contributions.bioconductor.org/git-version-control.html#push-to-github-bioc
RedirectMatch 301 /developers/how-to/git/remove-large-data.*$ https://contributions.bioconductor.org/git-version-control.html#remove-large-data-files-and-clean-git-tree
RedirectMatch 301 /developers/how-to/git/resolve-conflicts.*$ https://contributions.bioconductor.org/git-version-control.html#resolve-merge-conflicts
RedirectMatch 301 /developers/how-to/git/resolve-duplicate-commits.*$ https://contributions.bioconductor.org/git-version-control.html#resolve-duplicate-commits
RedirectMatch 301 /developers/how-to/git/sync-existing-repositories.*$ https://contributions.bioconductor.org/git-version-control.html#sync-existing-repositories


</IfModule>

## Broken?
Redirect /bioc2013 https://secure.bioconductor.org/BioC2013


