.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--misc-dark);
  color: #fff;
  stroke: #fff;
}

.announcement p {
  font-size: 0.8125rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.announcement-warning {
  background-color: var(--misc-warning);
  color: var(--misc-dark);
  stroke: var(--misc-dark);
}

.announcement-error {
  background-color: var(--misc-error);
  color: #fff;
  stroke: #fff;
}

.announcement-brand {
  background-image: var(--gradient-brand);
  color: #fff;
  stroke: #fff;
}

@media (width <= 768px) {
  .announcement {
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    text-align: center;
  }
}
