body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  color: var(--default-body);
  background: var(--neutral-n50);
}

main {
  margin: 1rem 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  max-width: 1400px;
}

main > .container.main-subnav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "left-col .";
}

.left-col {
  grid-area: left-col;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav.subnav {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-p75);
  padding: 0.5rem;
}

nav.subnav a {
  text-decoration: underline;
  display: block;
  padding: 0.5rem;
  padding-bottom: 0.75rem;
  background-image: url("/images/chevron_right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  color: black;
}

img {
  max-width: 100%;
}

@media (width <= 768px) {
  main > .container.main-subnav {
    display: block;
  }

  .left-col {
    display: none;
  }

  .site-container {
    margin: 0 auto; /* floats the design center */
    max-width: 1400px; /* change the site design width here */
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
