body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  color: var(--default-body);
  background: var(--neutral-n50);
}

.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  max-width: 1400px;
}

main > .container {
  margin-top: 2rem;
}

main > .container.main-subnav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "left-col .";
}

img {
  max-width: 100%;
}

@media (max-device-width: 768px) {
  main > .container.main-subnav {
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
  }

  main > .container.main-subnav > .content {
    position: relative;
    z-index: -1;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
