/* css global styles for bioconductor */

/* looks like sass stylesheet is not used */

/* global styles defined at the topmost level.
   these will be overridden by subsequent selectors. */

/* reset the margins and padding of all elements so we can 
   specify them ourselves */

/* multiple lines (breaking text) won't work nicely with icons, but they
   are only used at top-level pages with short text */
h1 img,
h2 img {
  padding-right: 12px;
  vertical-align: middle;
}

.olive {
  color: #87b13f;
} /* anything can be colored olive */
.blue {
  color: #1a81c2;
} /* anything can be colored blue (light blue) */

code {
  color: #87b13f;
  font-family: "Lucida Console", monaco, monospace;
}

/* PageContent is the main content on the page */
#PageContent {
  padding: 140px 20px 0 20px; /*border:1px red solid;*/
}
.PageContent {
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 70%;
  line-height: 1.3em;
}
/* when there is a right rail, apply these styles: */
/* width is 64% or 600px with a right rail. adjust in concert
   with width of RightRail. */
div#PageContent.WithRightRail {
  float: left;
  width: 600px;
}
/* links are simply blue, hovering slightly less blue */
.PageContent a {
  color: #1a81c2;
}
.PageContent a:visited {
  color: #1a81c2;
}
.PageContent a:hover {
  color: #4c94c2;
}

/* ul lists in main content area are generally pleasing */
.PageContent ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}
.PageContent ul li {
  background-image: url(../images/list_bullet_bare.gif);
  background-position: 0 0.5em;
  background-repeat: no-repeat;
  padding-left: 12px;
}

/* PageInternalLinksMenu contains any links to intra-page anchors
   (i.e., jumps down this page)  */
.PageInternalLinksMenu ul {
  margin-left: 0.3em;
  padding-left: 0.3em;
  list-style-image: none;
}
.PageInternalLinksMenu ul li {
  display: inline;
  padding-left: 8px;
  padding-right: 1em;
  background-image: url(../images/list_bullet.gif);
  background-repeat: no-repeat;
  background-position: left 5px;
}
.PageInternalLinksMenu ul li a {
  white-space: nowrap;
}

/* SiteGlobalFooter is the olive box at page bottom which
   contains global site navigation elements, copyright and logos */
#SiteGlobalFooter {
  background-color: #345208; /* matches fade at bottom edge */
  padding: 24px;
  margin-top: 30px;
  background-image: url(../images/global_footer_fade.gif);
  background-position: top left;
  background-repeat: repeat-x;
  clear: both;
  /* in case the right hand column and page body above me get squirrely */
}
.SiteGlobalFooter {
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 70%;
}
/* slightly tighter spacing in the footer */
.SiteGlobalFooter p {
  padding-bottom: 0.4em;
}
.SiteGlobalFooter a {
  color: #ffffff;
  text-decoration: none;
}
.SiteGlobalFooter a:hover {
  text-decoration: underline;
}
.SiteGlobalFooter ul {
  list-style-type: none;
}

ul.footer_nav_list {
  margin: 0;
  line-height: 1.2;
  margin-left: 0;
  margin-top: 18px;
  padding-left: 0;
}
/* the five main nav elements, not their contents */
li.footer_nav_list_element {
  float: left;
}
/* boosts intra-element spacing */
.footer_nav_list_element li {
  padding-bottom: 0.5em;
}
/* each footer nav element is listed here from left to right, 
   so you can adjust the width of each (if necessary). total
   width all all elements should not exceed 912px = the design
   width of 960px - 2 x 24px padding */
.footer_nav_list_element_0 {
  width: 50px;
}
.footer_nav_list_element_1 {
  width: 220px;
}
.footer_nav_list_element_2 {
  width: 220px;
}
.footer_nav_list_element_3 {
  width: 200px;
}
.footer_nav_list_element_4 {
  width: 220px;
}

/* little logos for fhcrc and bioconductor link back to their respective
   locations */
.global_footer_logo_bc {
  float: right;
  padding-left: 70px;
  padding-right: 30px;
}
.global_footer_logo_bc img {
  border: 0;
  width: 154px;
  height: 51px;
}
.global_footer_logo_fhcrc {
  float: right;
}
.global_footer_logo_fhcrc img {
  border: 0;
  width: 154px;
  height: 51px;
}

/* copyright and attribution portion of the global footer */
.attribution_copyright {
  padding-bottom: 30px;
  border-bottom: 1px #a8bf7c solid;
}

.sb {
  width: 100%;
  height: 100%;
}
.sb .sb1 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/tl.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.sb .sb2 {
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/top.png);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.sb .sb3 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/tr.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.sb .sb4 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/left.png);
  background-position: top right;
  background-repeat: repeat-y;
}
.sb .sb5 {
  padding: 16px;
  border: 1px #d8dcdd solid;
  vertical-align: top;
  background-color: #ffffff;
}
.sb .sb6 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/right.png);
  background-position: top left;
  background-repeat: repeat-y;
}
.sb .sb7 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/bl.png);
  background-position: top right;
  background-repeat: no-repeat;
}
.sb .sb8 {
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/bottom.png);
  background-position: top left;
  background-repeat: repeat-x;
}
.sb .sb9 {
  width: 8px;
  height: 8px;
  padding: 0px;
  background-image: url(../images/shadedbox/br.png);
  background-position: top left;
  background-repeat: no-repeat;
}

/* sb-style boxes can have special styles within them */
.sb .box_header {
  font-size: 130%;
}
.sb .box_header a,
.sb .box_header a:visited {
  color: #000000;
  text-decoration: none;
}
.sb .box_header a:hover {
  color: #87b13f;
  text-decoration: underline;
}

/* here is the styling for code boxes. grey background, code (tt) font,
   and overflow is scroll so long lines don't push the main content area
   too far out and destroying the design.
   
   use like this:
   
      <p class="code_box">
         text here
      </p> 
   
   */
.code_box {
  background-color: #e3e3e3;
  padding: 1em;
  border: 1px #aaaaaa dashed;
  font-family: "Lucida Console", monaco, monospace;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow-x: auto;
  white-space: pre;
}

.bioc_citation {
  padding-left: 1em;
}

pre {
  background-color: #e3e3e3;
  padding: 1em;
  border: 1px #aaaaaa dashed;
  font-family: "Lucida Console", monaco, monospace;
  margin-top: 0;
  margin-bottom: 1em;
  overflow-x: auto;
  white-space: pre;
}
pre code {
  color: #000000;
  font-family: "Lucida Console", monaco, monospace;
}

/* simple grey-backgrounded box has no border. use like this
   <div class='grey_box'>...</div> */
.grey_box {
  background-color: #e6e8e7;
  padding: 1em;
}
/* and a white-backgrounded box to alternate with the grey_box above */
.white_box {
  padding: 1em;
}

/* back to top div
   <p class='back_to_top'>[ <a href='#'>Back to top</a> ]</p> */
.back_to_top {
  text-align: right;
}

/* here is some styling for the search box */
.search_box {
  font-family: "Lucida Console", monaco, monospace;
  border: 1px #888888 solid;
  padding-left: 4px;
  height: 24px;
  width: 160px;
  margin-right: 5px;
}

/* here is a special style for lists with giant arrows as bullets */
ul.big_arrow_list {
  margin: 0;
  margin-left: 0.1em;
  padding-top: 0.3em;
  padding-left: 20px;
  list-style-image: url(../images/list_big_arrow.gif);
} /* home page uses a special, "big arrow" style list */
ul.big_arrow_list li {
  padding-bottom: 1em;
  padding-left: 3px;
  background-image: none;
}

/* an inline list with no marker */
ul.inline_list {
  list-style-type: none;
  padding-right: 5px;
}
ul.inline_list li {
  display: inline;
  padding-right: 5px;
}

/* home page has a few special styles */
.hp_alert_box {
  border-top: 1px #d8dcdd solid;
  border-bottom: 1px #d8dcdd solid;
  padding: 1em;
  padding-left: 0;
  margin: 8px 8px 8px 8px;
}
.hp_options_box {
  margin: 0 8px 0 8px;
}

/* these selectors will invoke when printing or print previewing.
   this can be convenient to nicely-format the page for printing,
   including certain sizing and hiding of elements. */
@media print {
  /* for elements that you don't want to print, give them a class of noprint */
  .noprint {
    display: none;
  }
  #SiteGlobalFooter {
    padding: 0;
    padding-top: 3em;
    border-top: 1px black solid;
  }
  .attribution_copyright {
    padding: 0;
    border: 0;
  }

  /* shaded boxes don't need to be shaded on print. since they are
     background images, they won't usually be printed anyway so this
     rule tightens up the spacing. */
  .sb1,
  .sb2,
  .sb3,
  .sb4,
  .sb6,
  .sb7,
  .sb8,
  .sb9 {
    display: none;
  }
  #PageBreadcrumbs {
    display: none;
  }
  .PageContent h1,
  .PageContent h2 {
    border-bottom: 1px black solid;
  }
  #PageContent {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  /* when printing these two divs (if present) */
  div#PageContent.WithRightRail {
    width: 69%;
    float: left;
  }
  /*  need to display side-by-side w/o breaking */
  #RightRail {
    width: 29%;
    padding: 0 0 0 0;
  }
  .back_to_top {
    display: none;
  }
  #PageInternalLinksMenu {
    display: none;
  }
  .hp_alert_box,
  .hp_options_box {
    margin: 24px 0 0 0;
  }

  /* this overrides the sneaky way we do bullets using background images.
     when printing, background images typically are omitted */
  ul {
    list-style-type: disc !important;
    margin: auto !important;
    margin-left: 1.4em !important;
    margin-bottom: 1em !important;
  }
}

/* styles for displaying biocViews hierarchy */
.biocViewsTree {
  float: left;
  height: 300px;
  width: 100%;
  overflow: auto;
}

.biocViewsTreePadding {
  /*    float:left; */
  /*    width: 1%; */
}

.biocViewsPackages {
  float: right;
  width: 66%;
}
.biocViewsBelowTree {
  clear: both;
}

/* styles for package detail pages: */

tr.row_odd {
  background-color: #fff;
}

tr.row_even {
  background-color: #ddd;
}

td.docFixedWidth {
  width: 56px;
}

/* tooltip styling */
.tooltip {
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 250px;
  padding: 40px 30px 10px 30px;
  width: 250px;
  font-size: 11px;
}

/* a .label element inside tooltip */
.tooltip .label {
  color: yellow;
  width: 35px;
}

.tooltip a {
  color: #ad4;
  font-size: 11px;
  font-weight: bold;
}

.tooltip2 {
  display: none;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 40px 30px 10px 30px;
  font-size: 11px;
}

/* limit image width to prevent oversized figures on workflow pages */
img {
  max-width: 100%;
}
