/* global styles defined at the topmost level.
   these can be overridden by subsequent selectors. */

/* CSS global styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Atkinson Hyperlegible";
  line-height: 120%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 18px;
}

.hero {
  font-size: 80px;
  font-family: "Atkinson Hyperlegible";
  line-height: 105%;
}

@media (max-width: 700px) {
  .hero {
    font-size: 40px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 17px;
  }
}

p {
  font-family: "Atkinson Hyperlegible";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0;
}

.code {
  line-height: 120%;
  font-family: "Courier";
}

.code--body {
  font-size: 20px;
}

.code--small {
  font-size: 16px;
}

.format--bold {
  font-weight: bold;
}

.format--boldUnderline {
  text-decoration: underline;
  font-weight: bold;
}

.format--underline {
  text-decoration: underline;
}

.text--xSmall {
  font-size: 10px;
  line-height: 120%;
}

.text--small {
  font-size: 13px;
  line-height: 120%;
}

.text--large {
  font-size: 20px;
}

/* Css global color variables */
/* You can use `var(--variable-name)` to get the value. */

:root {
  /* Primary colors */
  --primary-P50: #ebf4f7;
  --primary-P75: #add2dd;
  --primary-P100: #8bc0cf;
  --primary-P200: #59a5bb;
  --primary: #3792AD;
  --primary-P400: #035771;
  --primary-P500: #003242;

  /* Secondary colors */
  --secondary-S50: #f3fae9;
  --secondary-S75: #cf9a6;
  --secondary-S100: #bbe081;
  --secondary-S200: #9ed34a;
  --secondary: #8aca25;
  --secondary-S400: #618d1a;
  --secondary-S500: #547b17;

  /* Warning colors */
  --warning-W50: #fef9eb;
  --warning-W75: #f9e8ad;
  --warning-W100: #f7df8a;
  --warning-W200: #f3d158;
  --warning: #f1c736;
  --warning-W400: #a98b26;
  --warning-W500: #937921;

  /* Error colors */
  --error-E50: #feebeb;
  --error-E75: #f9adad;
  --error-E100: #f78a8a;
  --error-E200: #f35858;
  --error: #F13636;
  --error-E400: #F13636;
  --error-E500: #932121;

  /* Neutral colors */
  --neutral-N50: #F9F9F9;
  --neutral-N75: #E9EBF8;
  --neutral-N100: #A1A6B3;
  --neutral-N200: #797F92;
  --neutral: #5D657C;
  --neutral-N400: #414757;
  --neutral-N500: #393E4C;

  /* Miscellaneous colors */
  --misc-positive: #008A00;
  --misc-neutral: #007A9F;
  --misc-warning: #FFC600;
  --misc-annotations: #FF8A00;

	/* Gradients */
  --gradient-warmCool: linear-gradient(to right, #FF2F4B, #4E5CFF);
  --gradient-brand: linear-gradient(to right, #0087AF, #0484A9, #18A603);
  --gradient-brandReverse: linear-gradient(to right, #18A603, #0484A9, #0087AF);
  --gradient-purpleBlue: linear-gradient(to right, #445CF3, #A333F1);
}
