body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  color: #070707;
}

main {
  background: var(--neutral-n50);
}

.container {
  margin: 0 auto;
  width: calc(100% - 3rem);
  max-width: 1400px;
}

main > .container.main-subnav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "left-col .";
}

.left-col {
  grid-area: left-col;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* TODO: shaded box is a legacy block, and included here for backwards compatibility. once the content is updated this should be removed */
.shaded_box {
  padding: 0.5rem;
}

.shaded_box .box_header {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 700;
}

.shaded_box .box_header .olive {
  display: none;
}

.shaded_box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.subnav,
.shaded_box {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-p75);
  padding: 0.5rem;
}

nav.subnav a,
.shaded_box ul li {
  text-decoration: underline;
  display: block;
  padding: 0.5rem;
  padding-bottom: 0.75rem;
  background-image: url("/images/chevron_right.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

nav.subnav a,
.shaded_box ul li a {
  color: black;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  margin: 0 0 0.75rem;
  padding: 0;
  line-height: 1.3rem;
}

.breadcrumbs li:not(:first-of-type) {
  background-image: url("/images/chevron_right.svg");
  background-repeat: no-repeat;
  padding-left: 1.625rem; /* make space for the background image */
}

.breadcrumbs li:last-of-type {
  font-weight: bold;
}

.breadcrumbs a {
  color: var(--neutral-n400);
  text-decoration: none;
}

@media (width <= 768px) {
  main > .container {
    display: block;
  }

  .left-col {
    display: none;
  }

  .site-container {
    margin: 0 auto; /* floats the design center */
    max-width: 1400px; /* change the site design width here */
  }
}
