footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* 1400p x */
  background-color: #121212;
  padding: 2.5rem 6.25rem; /* 40px, 100px */
  border-style: solid;
  border-width: 0.625rem 0 0; /* 10px */
  border-image: var(--gradient-brandreverse) 1;
  margin-top: 1.875rem; /* 30px */
  color: #fff;
  font-size: 0.7rem;
  height: auto;
  box-sizing: border-box;
}

footer a {
  color: #fff;
}
.footer-container {
  max-width: 1400px;
  margin: auto;
}

.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.link-container-inner {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

:is(.link-container-inner nav) {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem;
  padding-inline-start: 0px;
  margin-right: auto;
}

.logo-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.socials-logo-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.socials img {
  padding-right: 2rem; /* 30px  */
  margin-bottom: 0;
}

.socials {
  margin-top: 0.5rem;
  margin-top: 1.5rem;
}

.footer-logo {
  width: 12rem;
  height: 3.5rem;
  padding-top: 1rem;
}

@media (width <= 768px) {
  footer {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }

  .link-container {
    display: block;
  }

  :is(.link-container-inner nav) {
    min-width: 10rem;
    margin-inline-end: 0px;
  }

  .list-container-inner {
    margin-bottom: 1.25rem;
  }

  .logo-contact-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .copyright {
    margin-top: 2rem;
  }

  .footer-logo {
    width: 12rem;
    height: 3.5rem;
  }

  .socials-logo-container {
    display: block;
    padding: 1rem 0rem;
  }

  .socials {
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
