.events {
  padding-top: 2rem;
}

.events-header {
  display: flex;
  justify-content: space-between;
  margin-right: 6.25rem;
  margin-bottom: 1rem;
}

.events-header h3 {
  margin-left: 1rem;
}

.events-container {
  display: flex;
  overflow-x: scroll;
  gap: 1.56rem;
  margin-bottom: 1.5rem;
  -ms-overflow-style: none; /* disable scrollbar for IE and Edge */
  scrollbar-width: none; /* disable scrollbar for Firefox */
}

.events-container::-webkit-scrollbar {
  display: none; /* disable scrollbar for chrome */
}

.event-card-container {
  display: inline-block;
  background-color: white;
  padding: 0.875rem;
  min-width: 17.5rem;
  max-width: 17.5rem;
  max-height: 12.25rem;
}

.event-card {
  height: 100%;
  width: 100%;
}

.event-card .format-bold {
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  flex: 1 0 0;
  align-self: stretch;
  height: 4.75rem;
  color: var(--primary-p500);
  max-width: 12.8rem;
}

.event-date-location {
  padding-top: 1rem;
  border-top: 1px solid;
  border-color: var(--primary-p-50, #ebf4f7);
}

.event-date-location * {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--neutral-n400);
}

.information-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  background-color: inherit;
  gap: 2rem;
}

.news,
.packages,
.about-bioconductor {
  max-width: 24rem;
  min-width: 24rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-container section * {
  text-align: start;
}

.news p {
  border-left: 3px solid;
  border-color: var(--primary);
  padding-left: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.info-section-button-padding {
  width: fit-content;
}

.info-section-button-padding .brand-border-button {
  height: 2.5rem;
}

/* components css */
.gradient-border {
  border-radius: 4px;
  padding: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-block {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.section-block h4,
.section-block h2 {
  margin-top: 0;
}

/* Learn section CSS */
.learn {
  background-image: var(--gradient-brand);
}

.learn-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.info {
  flex: 1;
  gap: 0.5rem;
}

.info p {
  padding-bottom: 1rem;
}

.learn-nav {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex: 1;
}

.learn-nav a {
  border: 1px solid var(--primary-p75);
  border-radius: 0.5rem;
  padding: 1rem;
  align-items: center;
  text-decoration: underline;
  color: inherit;
  display: flex;
  justify-content: space-between;

  /* gradient backgrounds are difficult to add transition */
  transition: background 0.5s ease;
}

.join-buttons a {
  width: fit-content;
  text-decoration: none;
}

.learn-nav a:hover {
  background-image: var(--gradient-brand);
  color: #fff;
}

.learn-nav svg path {
  /* transition: stroke 0.5s ease; */
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.learn-nav a:hover svg path {
  stroke: #fff;
  transform: translateX(3px);
}

.button-padding {
  width: 50%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.info .brand-border-button {
  height: 2.5rem;
  width: 100%;
}

/* Join section CSS */ 

.join {
  background-image: var(--gradient-reversewarmcool);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.gradient-border-inner {
  padding: 0 0 2rem;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.join-row {
  order: -1;
  display: none;
  width: 100%;
  transition: 0.3s;
}

.tabs-join-radio:checked + .join-row {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  box-shadow: inset 1em 1em var(--primary-p50);
  width: 1em;
  height: 1em;
  content: "";
  border-radius: 50%;
  display: grid;
}

input[type="radio"]::before {
  content: "";
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.join-content {
  padding-left: 4rem;
}

.join-content h2 {
  padding-top: 4rem;
}

/* stylelint-disable property-no-vendor-prefix */
.text-gradient {
  background: var(--gradient-reversewarmcool);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* stylelint-enable property-no-vendor-prefix */

.join-img-div {
  width: 400px;
  max-height: 276px;
  flex-shrink: 0;
}

.join-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.join-buttons span {
  padding: 0.5rem 0.4rem 0.5rem 0.75rem;
}

.learn-more {
  padding-left: 1rem;
  color: var(--primary-p400);
}

hr {
  border: 1px solid var(--secondary-s75);
}

@media (width <= 768px) {
  .learn-block {
    display: flex;
    flex-direction: column;
  }

  .learn-content {
    display: flex;
    flex-direction: column;
  }

  .button-padding {
    width: 60%;
  }

  .events-header {
    margin: auto;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .join-content {
    padding: 1.5rem;
  }

  .join-row h2 {
    padding-top: 0;
  }

  .join-img-div {
    display: none;
  }

  .join-buttons {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .learn-nav a:hover {
    background: inherit;
    color: inherit;
    transition: none;
  }

  .learn-nav a:hover svg path {
    stroke: var(--primary-p75);
    transition: none;
    transform: none;
  }
}
