<p>This is a list of the last 100 packages added to Bioconductor and available in the
<a href="/packages/devel/BiocViews.html#___Software">development version</a> of Bioconductor. The list is also available
as an <a href="/rss/new_packages.rss">RSS Feed</a>.</P>

<% for package in recent_packages() %>
  <p><a class="symlink" href="/packages/devel/bioc/html/<%=package[:package]%>.html"><%=package[:package]%></a> <%= package[:title]%></p>

<blockquote><%= package[:description]%></blockquote>
<% end %>
