<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold">Development Version</p>
    <p>Bioconductor packages under development:</p>
  </div>
  <nav>
    <% devel_repos = config[:devel_repos] %> <% if devel_repos.include? "bioc"
    %>
    <div>
      Analysis
      <a class="symlink" href="/packages/devel/BiocViews.html#___Software"
        >software</a
      >
      packages.
    </div>
    <% end %> <% if devel_repos.include? "data/annotation" %>
    <div>
      <a class="symlink" href="/packages/devel/BiocViews.html#___AnnotationData"
        >Annotation</a
      >
      packages
    </div>
    <% end %> <% if devel_repos.include? "data/experiment" %>
    <div>
      Illustrative
      <a class="symlink" href="/packages/devel/BiocViews.html#___ExperimentData"
        >experiment data</a
      >
      packages
    </div>
    <% end %>
  </nav>
  <p>Developer Resources:</p>
  <ul>
    <li><a href="/developers/gitlog">GIT Log</a></li>
  </ul>
</div>
