<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold">Packages: </p>
    <p>Bioconductor's stable, semi-annual release:</p>
  </div>
  <nav>
    <div><a class="symlink" href="/packages/release/BiocViews.html#___Software"> Analysis software packages </a></div>
    <div><a class="symlink" href="/packages/release/BiocViews.html#___AnnotationData"> Annotation packages</a></div>
    <div><a class="symlink" href="/packages/release/BiocViews.html#___ExperimentData"> Illustrative experiment data packages</a></div>
    <div><a class="symlink" href="/packages/release/BiocViews.html#___Workflow">Workflow packages</a> </div>
    <div><a class="symlink" href="/books/release/">Online books</a></div>
   <div><a href="/news/bioc_<%=config[:release_version].sub(".", "_")%>_release">  Latest release announcement</a></div>
  </nav>
  <div class="bottom-note">
    <p class="text-small">Bioconductor is also available via 
      <a class="text-small" href="/help/docker/">Docker Images </a>
      and for use in the 
      <a class="text-small" href="https://anvil.bioconductor.org/">AnVIL.</a>
    </p>
  </div>
</div>