<div class="sidebar-box">
  <p class="format-bold">Sponsors</p>
  <a href="https://www.roswellpark.org/">
    <img
      src="/images/sponsors/rpci-logo_1.png"
      align="left"
      alt="Roswell Park Cancer Institute"
      style="padding: 10px 0px" />
  </a>
  <a href="https://www.roswellpark.org/">
    <img
      src="/images/sponsors/dana-farber.jpg"
      align="left"
      alt="Dana-Farber Cancer Institute"
      width="225px"
      style="padding: 10px 0px" />
  </a>
  <a href="http://www.gene.com/">
    <img
      src="/images/sponsors/genentech.png"
      align="left"
      alt="Genentech"
      width="225px"
      style="padding: 10px 0px" />
  </a>
  <a href="https://www.sbgenomics.com/">
    <img
      src="/images/sponsors/Larger_Box_SB_logo_white_on_navy.jpg"
      align="left"
      alt="Seven Bridges Genomics"
      width="225px"
      style="padding: 10px 0px" />
  </a>

  <a href="https://www.rstudio.com/">
    <img
      src="/images/sponsors/rstudio.png"
      align="left"
      alt="RStudio"
      width="225px"
      style="padding: 10px 0px" />
  </a>

  <a href="https://astrazeneca.com/">
    <img
      src="/images/sponsors/astrazeneca.PNG"
      align="left"
      alt="Astrazeneca"
      width="225px"
      style="padding: 10px 0px" />
  </a>
  <!--

  <a href="http://www.revolutionanalytics.com/">
    <img src="/images/sponsors/revolutionanalytics.png" align="left"
         alt="Revolution Analytics"
         style="padding: 5px 0px"/>
  </a>


  <a href="https://axioresearch.com/">
    <img src="/images/sponsors/Axio_Logo.png" align="left"
         width="105px"
         alt="Axio Research"
         style="padding: 5px 0px"/>
  </a>

  <a href="https://fredhutch.org/">
    <img src="/images/sponsors/fred_hutch_logo_40th.png" align="left"
         width="225px"
         alt="Fred Hutchinson Cancer Research Institute"
         style="padding: 5px 0px"/>
  </a>

  <a href="https://med.stanford.edu/bdsi.html">
    <img src="/images/sponsors/bdsi.png" align="left"
         alt="Stanford Biomedical Data Sciences Initiative"
         width="225px"
         style="padding: 5px 0px"/>
  </a>
--></div>
