<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold">
      <a href="/about/release-announcements/">Previous Releases</a>
    </p>
    <p>
      Bioconductor (R)
      <a href="/about/release-announcements/#release-versions">versions</a>:
    </p>
  </div>
  <nav >
    <div>
      <a href="/packages/3.18/BiocViews.html#___Software">3.18&nbsp;(4.3)</a>
    </div>
    <div>
      <a href="/packages/3.17/BiocViews.html#___Software">3.17&nbsp;(4.3)</a>
    </div>
    <div>
      <a href="/packages/3.16/BiocViews.html#___Software">3.16&nbsp;(4.2)</a>
    </div>
    <div>
      <a href="/packages/3.15/BiocViews.html#___Software">3.15&nbsp;(4.2)</a>
    </div>
    <div>
      <a href="/packages/3.14/BiocViews.html#___Software">3.14&nbsp;(4.1)</a>
    </div>
    <div>
      <a href="/packages/3.13/BiocViews.html#___Software">3.13&nbsp;(4.1)</a>
    </div>
    <div>
      <a href="/packages/3.12/BiocViews.html#___Software">3.12&nbsp;(4.0)</a>
    </div>
    <div>
      <a href="/packages/3.11/BiocViews.html#___Software">3.11&nbsp;(4.0)</a>
    </div>
    <div>
      <a href="/packages/3.10/BiocViews.html#___Software">3.10&nbsp;(3.6)</a>
    </div>
    <div>
      <a href="/packages/3.9/BiocViews.html#___Software">3.9&nbsp;(3.6)</a>
    </div>
    <div>
      <a href="/packages/3.8/BiocViews.html#___Software">3.8&nbsp;(3.5)</a>
    </div>
    <div>
      <a href="/packages/3.7/BiocViews.html#___Software">3.7&nbsp;(3.5)</a>
    </div>
  </nav>
  <div class="bottom-note">
    <p class="text-small">
      Release
      <a href="/about/release-announcements/#release-announcements"
        >announcements</a
      >.
    </p>
  </div>
</div>
