<h1><%=@package[:Package]%></h1>

<div>
  <% if @package.has_key? :PackageStatus and @package[:PackageStatus] == "Deprecated" %>

    <p>This package is <b>deprecated</b>. It will probably
    be removed from Bioconductor. Please refer to
    the <a href="http://contributions.bioconductor.org/package-end-of-life-policy.html">
    package end-of-life guidelines</a> for more information.
    </p>

  <% end %>

  <%= get_fragment(@package, @item, @item_rep) %>

  <%# package title - not to be confused with page title %>

  <h2><%= @package[:Title]%></h2>

  <%= render("/components/packages/badges/", :package => @package) %>
  <p><br></p>
  
  <div class="package-info">

    <p>
      <strong>Bioconductor version:</strong> <%= verbose_bioc_version(@package) %>
    </p>
    <p>
      <%= @package[:Description] %>
    </p>
    <p>
      <strong>Author:</strong> <%= filter_emails(@package[:Author])%>
    <p />
    <p>
      <strong>Maintainer:</strong> <%= filter_emails(@package[:Maintainer])%>
    </p>
    <div id="bioc-citation-outer" data-package="<%=@package[:Package]%>">
      <strong>Citation (from within R, enter <code>citation("<%=@package[:Package]%>")</code>):</strong>
      <div id="bioc-citation" class="bioc-citation"></div>
      <div class="citation-actions" id="bioc-citation-actions"></div>
      <div id="bioc-citation-status" aria-live="polite" aria-atomic="true" class="sr-only"></div>
    </div>
    <div class="bioc-project-citations">
      <strong>Seminal Bioconductor project articles:</strong>
      <p><strong>Huber W</strong>, Carey VJ, Gentleman R, Anders S, Carlson M, Carvalho BS,
      Bravo HC, Davis S, Gatto L, Girke T, Gottardo R, Hahne F, Hansen KD, Irizarry RA,
      Lawrence M, Love MI, MacDonald J, Obenchain V, Oleś AK, Pagès H, Reyes A, Shannon P,
      Smyth GK, Tenenbaum D, Waldron L, Morgan M (2015). "Orchestrating high-throughput
      genomic analysis with Bioconductor." <em>Nature Methods</em>, <strong>12</strong>(2),
      115–121. doi:<a href="https://doi.org/10.1038/nmeth.3252">10.1038/nmeth.3252</a>.</p>
      <div class="citation-actions">
        <button class="citation-btn" aria-label="Copy Huber 2015 citation as text" data-citation-text="Huber W, Carey VJ, Gentleman R, Anders S, Carlson M, Carvalho BS, Bravo HC, Davis S, Gatto L, Girke T, Gottardo R, Hahne F, Hansen KD, Irizarry RA, Lawrence M, Love MI, MacDonald J, Obenchain V, Oles AK, Pages H, Reyes A, Shannon P, Smyth GK, Tenenbaum D, Waldron L, Morgan M (2015). Orchestrating high-throughput genomic analysis with Bioconductor. Nature Methods, 12(2), 115-121. doi:10.1038/nmeth.3252.">📋 Copy Text</button>
        <button class="citation-btn" aria-label="Copy Huber 2015 citation as BibTeX" data-bibtex="@Article{Huber2015-bp,&#10;  title    = {Orchestrating high-throughput genomic analysis with Bioconductor},&#10;  author   = {Huber, Wolfgang and Carey, Vincent J and Gentleman, Robert and Anders, Simon and Carlson, Marc and Carvalho, Benilton S and Bravo, Hector Corrada and Davis, Sean and Gatto, Laurent and Girke, Thomas and Gottardo, Raphael and Hahne, Florian and Hansen, Kasper D and Irizarry, Rafael A and Lawrence, Michael and Love, Michael I and MacDonald, James and Obenchain, Valerie and Oles, Andrzej K and Pages, Herve and Reyes, Alejandro and Shannon, Paul and Smyth, Gordon K and Tenenbaum, Dan and Waldron, Levi and Morgan, Martin},&#10;  journal  = {Nat. Methods},&#10;  volume   = 12,&#10;  number   = 2,&#10;  pages    = {115--121},&#10;  month    = feb,&#10;  year     = 2015,&#10;  language = {en}&#10;}">📋 Copy BibTeX</button>
      </div>
      <p><strong>Gentleman RC</strong>, Carey VJ, Bates DM, Bolstad B, Dettling M, Dudoit S,
      Ellis B, Gautier L, Ge Y, Gentry J, Hornik K, Hothorn T, Huber W, Iacus S, Irizarry R,
      Leisch F, Li C, Maechler M, Rossini AJ, Sawitzki G, Smith C, Smyth G, Tierney L, Yang JYH,
      Zhang J (2004). "Bioconductor: open software development for computational biology and
      bioinformatics." <em>Genome Biology</em>, <strong>5</strong>(10), R80.
      doi:<a href="https://doi.org/10.1186/gb-2004-5-10-r80">10.1186/gb-2004-5-10-r80</a>.</p>
      <div class="citation-actions">
        <button class="citation-btn" aria-label="Copy Gentleman 2004 citation as text" data-citation-text="Gentleman RC, Carey VJ, Bates DM, Bolstad B, Dettling M, Dudoit S, Ellis B, Gautier L, Ge Y, Gentry J, Hornik K, Hothorn T, Huber W, Iacus S, Irizarry R, Leisch F, Li C, Maechler M, Rossini AJ, Sawitzki G, Smith C, Smyth G, Tierney L, Yang JYH, Zhang J (2004). Bioconductor: open software development for computational biology and bioinformatics. Genome Biology, 5(10), R80. doi:10.1186/gb-2004-5-10-r80.">📋 Copy Text</button>
        <button class="citation-btn" aria-label="Copy Gentleman 2004 citation as BibTeX" data-bibtex="@Article{Gentleman2004-wd,&#10;  title     = {Bioconductor: open software development for computational biology and bioinformatics},&#10;  author    = {Gentleman, Robert C and Carey, Vincent J and Bates, Douglas M and Bolstad, Ben and Dettling, Marcel and Dudoit, Sandrine and Ellis, Byron and Gautier, Laurent and Ge, Yongchao and Gentry, Jeff and Hornik, Kurt and Hothorn, Torsten and Huber, Wolfgang and Iacus, Stefano and Irizarry, Rafael and Leisch, Friedrich and Li, Cheng and Maechler, Martin and Rossini, Anthony J and Sawitzki, Gunther and Smith, Colin and Smyth, Gordon and Tierney, Luke and Yang, Jean Y H and Zhang, Jianhua},&#10;  journal   = {Genome Biol.},&#10;  publisher = {Springer Nature},&#10;  volume    = 5,&#10;  number    = 10,&#10;  pages     = {R80},&#10;  month     = sep,&#10;  year      = 2004,&#10;  language  = {en}&#10;}">📋 Copy BibTeX</button>
      </div>
    </div>
  </div>



  <%= render("/components/packages/installation/", :package => @package) %>
  <%= render("/components/packages/documentation/", :package => @package) %>
  <%= render("/components/packages/details/", :package => @package) %>
  <%= render("/components/packages/archives/", :package => @package) %> 
</div>
