<div class="shaded_box" style="width:33%;float:left;">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/books/">Bioconductor Books</a>
  <span class="olive">&raquo;</span></p>
  <ul>
    <li><a href="/help/books/bioinformatics-and-computational-biology-solutions/">Bioinformatics and Computational Biology Solutions Using R and
      Bioconductor</a></li>
    <li><a href="/help/books/r-programming-for-bioinformatics/">R Programming for Bioinformatics</a></li>
    <li><a href="/help/books/bioconductor-case-studies/">Bioconductor Case Studies</a></li>
  </ul>
  &nbsp;
</div>

