<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Older Releases <span class="olive">&raquo;</span></p> 
  <p>Previous versions:
  <ul class="inline_list">
    <li><a href="http://www.bioconductor.org/packages/2.5/BiocViews.html">BioC
	2.5</a> (R 2.10)</li>
    <li><a href="http://www.bioconductor.org/packages/2.4/BiocViews.html">BioC
	2.4</a> (R 2.9)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/2.3/BiocViews.html">BioC
	2.3</a> (R 2.8)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/2.2/BiocViews.html">BioC
	2.2</a> (R 2.7)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/2.1/BiocViews.html">BioC
	2.1</a> (R 2.6)&nbsp;</li>    
    <li><a href="http://www.bioconductor.org/packages/2.0/BiocViews.html">BioC
	2.0</a> (R 2.5)&nbsp;</li>
    <li><a href="http//www.bioconductor.org/packages/1.9/BiocViews.html">BioC
	1.9</a> (R 2.4)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/1.8/BiocViews.html">BioC
	1.8</a> (R 2.3)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/1.7/BiocViews.html">BioC
	1.7</a> (R 2.2)&nbsp;</li>
    <li><a href="http://www.bioconductor.org/packages/1.6/BiocViews.html">BioC
	1.6</a> (R 2.1)&nbsp;</li>

  </ul>
</div>
