<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">
    Previous Versions <span class="olive">&raquo;</span>
  </p>  
  <p>For use with Bioconductor (R):</p>
  <ul class="inline_list">
    <li><a href="/packages/2.13/BiocViews.html#___Software">2.13 (3.0)</a></li>
    <li><a href="/packages/2.12/BiocViews.html#___Software">2.12 (3.0)</a></li>
    <li><a href="/packages/2.11/BiocViews.html#___Software">2.11 (2.15)</a></li>
    <li><a href="/packages/2.10/BiocViews.html#___Software">2.10 (2.15)</a></li>
    <li><a href="/packages/2.9/BiocViews.html#___Software">2.9 (2.14)</a></li>
    <li><a href="/packages/2.8/BiocViews.html#___Software">2.8 (2.13)</a></li>
    <li><a href="/packages/2.7/BiocViews.html#___Software">2.7 (2.12)</a></li>
    <li><a href="/packages/2.6/BiocViews.html#___Software">2.6 (2.11)</a></li>
    <li><a href="/packages/2.5/BiocViews.html#___Software">2.5 (2.10)</a></li>
    <li><a href="/packages/2.4/BiocViews.html">2.4 (2.9)</a></li>
    <li><a href="/packages/2.3/BiocViews.html">2.3 (2.8)</a></li>
    <li><a href="/packages/2.2/BiocViews.html">2.2 (2.7)</a></li>
    <li><a href="/packages/2.1/BiocViews.html">2.1 (2.6)</a></li>    
    <li><a href="/packages/2.0/BiocViews.html">2.0 (2.5)</a></li>
    <li><a href="/packages/1.9/BiocViews.html">1.9 (2.4)</a></li>
    <li><a href="/packages/1.8/BiocViews.html">1.8 (2.3)</a></li>
    <li><a href="/packages/bioc/1.7/src/contrib/html/">1.7 (2.2)</a></li>
    <li><a href="/packages/bioc/1.6/src/contrib/html/">1.6 (2.1)</a></li>
  </ul>
</div>
