<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Bioconductor Release <span class="olive">&raquo;</span></p>
  <p>Packages in the stable, semi-annual release:
  <ul>
    <li><a class="symlink" href="/help/bioc-views/release/BiocViews.html">BiocViews</a> package discovery</li>
    <li><a class="symlink" href="/help/bioc-views/release/bioc/">Software</a></li>
    <li><a class="symlink" href="/help/bioc-views/release/data/annotation/">Metadata</a> (Annotation, CDF and Probe)</li>
    <li><a class="symlink" href="/help/bioc-views/release/data/experiment/">Experiment Data</a></li>
    <li>Custom CDFs (<a href="http://brainarray.mbni.med.umich.edu/Brainarray/Database/CustomCDF/genomic_curated_CDF.asp">external</a>)</li>
  </ul>
</div>
