<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Development Version<span class="olive">&raquo;</span></p>
  <p>Bioconductor packages under development:</p>
  <ul>
    <li><a class="symlink" href="/packages/devel/BiocViews.html">BiocViews</a> package discovery</li>
    <li><a class="symlink" href="/packages/devel/bioc/">Software</a></li>    
    <li><a class="symlink" href="/packages/devel/data/annotation/">Metadata</a> (Annotation, CDF and Probe)</li>
    <li><a class="symlink" href="/packages/devel/data/experiment/">Experiment Data</a></li>
  </ul>
</div>
