<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Release Version <span class="olive">&raquo;</span></p>
  <p>The stable, semi-annual release:
  <ul>
    <li><a href="/help/bioc-views/<%=config[:release_version]%>/bioc/">Software</a></li>    
    <li><a href="/help/bioc-views/<%=config[:release_version]%>/data/annotation/">Metadata</a>
      (Annotation, CDF and Probe)</li>
    <li><a href="http://brainarray.mbni.med.umich.edu/Brainarray/Database/CustomCDF/genomic_curated_CDF.asp">Custom CDF</a></li>
    <li><a href="/help/bioc-views/<%=config[:release_version]%>/data/experiment/">Experiment Data</a></li>
    <li><a href="/help/bioc-views/<%=config[:release_version]%>/BiocViews.html">All packages</a></li>
  </ul>
</div>
