<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/community/">Community Help Resources</a>
  <span class="olive">&raquo;</span></p>
  <p>Community-contributed resources for learning Bioconductor:</p>
  <ul>

        <li><a href="http://genomicsclass.github.io/book/">Book</a>
        and <a href="https://github.com/genomicsclass/labs">lab</a>
        from MOOC: PH525x Data Analysis for Genomics.</li>
	<li><a href="http://www.youtube.com/user/RafalabChannel?feature=watch">Video Lectures by Rafael Irizarry and guests</a></li>
	<li><a href="http://manuals.bioinformatics.ucr.edu/home/R_BioCondManual">R/Bioconductor Notes by Thomas Girke</a>.</li>
	<li><a href="http://vincebuffalo.com/2012/03/12/23andme-gwascat.html">Using Bioconductor to Analyze your 23andme Data by Vince Buffalo</a>.</li>
	<li><a href="http://search.bioconductor.jp/">Bioconductor Code Search by Itoshi NIKAIDO</a>.</li>
	<li><a href="http://watson.nci.nih.gov/~sdavis/">R/Bioconductor Blog By Sean Davis</a>.</li>
  </ul>
  &nbsp;
</div>
