<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/course-materials/">Bioconductor Courses</a>
  <span class="olive">&raquo;</span></p>
  <p>Bioconductor has a long track record of training people how to use and
    develop software for current studies.  Below are materials for previous
    courses that have been taught.  You are welcome to use course materials for
    instructional purposes. However, you may not include these in separately
    published works (articles, books, websites).</p>
  <a href="/help/course-materials/2010/">2010</a> <span class="blue">|</span>
  <a href="/help/course-materials/2009/">2009</a> <span class="blue">|</span>
  <a href="/help/course-materials/2008/">2008</a> <span class="blue">|</span>
  <a href="/help/course-materials/2007/">2007</a> <span class="blue">|</span>
  <a href="/help/course-materials/2006/">2006</a><br/>
  <a href="/help/course-materials/2005/">2005</a> <span class="blue">|</span>
  <a href="/help/course-materials/2004/">2004</a> <span class="blue">|</span>
  <a href="/help/course-materials/2003/">2003</a> <span class="blue">|</span>
  <a href="/help/course-materials/2002/">2002</a>
  &nbsp;
</div>
