<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Develop <span class="olive">&raquo;</span></p>
  <p>Contribute to <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/developers/">Developer resources</a></li>
    <li><a class="symlink", href="/developers/how-to/useDevel/">Use Bioc &lsquo;devel&rsquo;</a></li>
    <li>
      &lsquo;Devel&rsquo; <a class="symlink" href="/packages/devel/BiocViews.html#___Software">packages</a>
    </li>
    <li><a href="https://contributions.bioconductor.org/">Package guidelines</a></li>
    <li><a class="symlink" href="/developers/package-submission/">New package submission</a></li>
    <li><a class="symlink" href="/developers/how-to/git/">Git source control</a></li>
    <li><a class="symlink" href="/checkResults/">Build reports</a></li>
    <li><a href="https://code.bioconductor.org/">Browsable code base</a></li>
  </ul>
</div>
