<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold format-underline">Documentation:</p>
  </div>
  <nav>
    <div>
      <a href="/help/package-vignettes/">Package vignettes and manuals</a>
    </div>
    <div>
      <a href="/packages/release/workflows/">Workflows for learning and use</a>
    </div>
    <div>
      <a href="/books/release/"> Online Books</a>
    </div>
    <div>
      <a href="/help/course-materials/">Course and conference material</a>
    </div>
    <div><a href="https://www.youtube.com/user/bioconductor">Videos</a></div>
    <div>
      <a href="/help/community/">Community resources </a>
      <a href="https://support.bioconductor.org/t/Tutorials/"> and tutorials</a>
    </div>
  </nav>
  <div class="bottom-note">
    <p class="text-small">
      R / <a href="http://cran.r-project.org/">CRAN</a> packages and
      <a href="http://www.r-project.org/other-docs.html">documentation</a>
    </p>
  </div>
</div>
