<div class="sidebar-nav-container">
  <div class="sidebar-nav">
    <span class="sidebar-header">
      <p class="format-bold">Jump to:</p>
      <img
        class="mobile-chevron"
        src="/images/icons/chevron-down.jpg"
        alt="collapse-chevron" />
    </span>

    <nav class="internal-nav" aria-label="Page navigation">
      <a class="sidebar-nav-button selected-nav" href="#quick-start"
        >Quick start
      </a>
      <a class="sidebar-nav-button" href="#why-use-containers"
        >Why Use Containers</a
      >
      <a class="sidebar-nav-button" href="#goals-for-new-container-architecture"
        >Goals for new containers
      </a>
      <a class="sidebar-nav-button" href="#current-containers"
        >Current Containers
      </a>
      <a class="sidebar-nav-button" href="#using-the-containers"
        >Using Containers</a
      >
      <a class="sidebar-nav-button" href="#list-running-containers"
        >Running Containers
      </a>
      <a class="sidebar-nav-button" href="#mounting-additional-volume">
        Mounting Additional Volume
      </a>
      <a class="sidebar-nav-button" href="#using-docker-compose">
        Using docker-compose
      </a>
      <a class="sidebar-nav-button" href="#using-binary-packages">
        Using Binary Packages
      </a>
      <a class="sidebar-nav-button" href="#modifying-containers"
        >Modifying Containers
      </a>
      <a class="sidebar-nav-button" href="#singularity">Singularity </a>
      <a class="sidebar-nav-button" href="#microsoft-azure-container-instances">
        Microsoft Azure Container Instances
      </a>
      <a
        class="sidebar-nav-button"
        href="#using-containers-hosted-on-microsoft-container-registry">
        Using containers hosted on Microsoft Container Registry
      </a>
      <a
        class="sidebar-nav-button"
        href="#use-azure-container-instances-to-run-bioconductor-images-on-demand-on-azure">
        Use Azure Container Instances to run bioconductor images on-demand on
        Azure
      </a>
      <a class="sidebar-nav-button" href="#how-to-contribute"
        >How to contribute
      </a>
      <a class="sidebar-nav-button" href="#deprecation-notice"
        >Deprecation Notice</a
      >
      <a class="sidebar-nav-button" href="#legacy-containers"
        >Legacy Containers
      </a>
      <a class="sidebar-nav-button" href="#reason-for-deprecation"
        >Reason for deprecation
      </a>
      <a class="sidebar-nav-button" href="#reporting-issues"
        >Reporting issues
      </a>
      <a class="sidebar-nav-button" href="#acknowledgements">
        Acknowledgements
      </a>
    </nav>
  </div>
</div>
