<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold format-underline">Jump to:</p>
  </div>
  <nav>
    <div><a href="#quickstart">Quick start</a></div>
    <div>
      <a href="#intro">Why Use Containers</a>
    </div>
    <div><a href="#goals">Goals for new containers</a></div>
    <div><a href="#current">Current Containers</a></div>
    <div>
      <a href="#usage">Using Containers</a>
    </div>
    <div><a href="#running">Running Containers</a></div>
    <div><a href="#mounting">Mounting Additional Volume</a></div>
    <div><a href="#dockercompose">Using docker-compose</a></div>
    <div><a href="#binarypackages">Using Binary Packages</a></div>
    <div><a href="#modify">Modifying Containers</a></div>
    <div><a href="#singularity">Singularity</a></div>
    <div>
      <a href="#msft">Microsoft Azure Container Instances</a>
    </div>
    <div>
      <a href="#mcr">Using containers hosted on Microsoft Container Registry</a>
    </div>
    <div>
      <a href="#aci"
        >Use Azure Container Instances to run bioconductor images on-demand on
        Azure</a
      >
    </div>
    <div><a href="#contribute">How to contribute</a></div>
    <div>
      <a href="#deprecation">Deprecation Notice</a>
    </div>
    <div><a href="#legacy">Legacy Containers</a></div>
    <div><a href="#reason">Reason for deprecation</a></div>
    <div><a href="#issues">Reporting issues</a></div>
    <div><a href="#acknowledgements">Acknowledgements</a></div>
  </nav>
</div>
