<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Bioconductor Release Packages<span class="olive">&raquo;</span></p>

  <div class="plain">
    <p>Stable, biannual releases of Bioconductor</p>
    
  <ul>
    <li><a href="http://www.bioconductor.org/packages/release/bioc/">Software</a></li>
    
    <li><a href="http://www.bioconductor.org/packages/release/data/annotation/">Metadata</a>
      (Annotation, CDF and Probe)</li>

    <li><a href="http://brainarray.mbni.med.umich.edu/Brainarray/Database/CustomCDF/genomic_curated_CDF.asp">Custom CDF</a></li>

    <li><a href="http://www.bioconductor.org/packages/release/data/experiment/">Experiment Data</a></li>

    <li><a href="http://www.bioconductor.org/packages/release/BiocViews.html">Complete
	Taxonomy</a> (BiocViews)</li>
     </ul>

  <a href="http://www.bioconductor.org/packages/stats/"><h4>Download Statistics</h4></a>
  
  </div>
  &nbsp;
</div>

