<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Bioconductor Development Packages<span class="olive">&raquo;</span></p>

  <div class="plain">
  <p>For developers who need the very latest.</p>

  <ul>
    <li><a href="http://www.bioconductor.org/packages/devel/bioc/">Software</a></li>
    
    <li><a href="http://www.bioconductor.org/packages/devel/data/annotation/">Metadata</a>
      (Annotation, CDF and Probe)</li>
    
    <li><a href="http://www.bioconductor.org/packages/devel/data/experiment/">Experiment Data</a></li>
    
    <li><a href="http://www.bioconductor.org/packages/devel/BiocViews.html">Complete
	Taxonomy</a> (BiocViews)</li>
     </ul>

  </div>
  &nbsp;
</div>

