
<div style="padding:0 12px 0 0">
  <h2 style="min-height:40px;">
	GIT Logs
</h2>

<p>This is a list of recent commits to git.bioconductor.org, the master(development) branch
of the Bioconductor GIT repository. </p>

<p>This list is also available as an <a href="/rss/gitlog.xml">RSS feed (master branch)</a>, and <a href="/rss/gitlog.release.xml">RSS feed (release branch)</a></p>



  <% @svn_items.each_with_index do |p, i| %>
    <div class="<%= "#{i % 2 == 0 ? 'grey_box' : 'white_box'}" %>">
      Revision: <%= p[:revision] %><br/>
      Author: <%= p[:author] %><br/>
      Date: <%= p[:date] %><br/>
      Commit message:<br/>
	  <%= p[:table] %>
		<pre style="background-color: <%= i % 2 == 0 ? "#e6e8e7" : "#ffffff" %>;"><%=p[:msg]%></pre>
    </div>
  <% end %>
  <br/>

</div>
