<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="http://cran.r-project.org/">Using R</a> <span class="olive">&raquo;</span></p>  
  <p>R information is available at The Comprehensive R Archive Network
	(<a href="http://cran.r-project.org/">CRAN</a>). CRAN
	resources include:</p>
  <ul class="inline_list">
   <li><a href="http://cran.r-project.org/manuals.html">Manuals</a></li>
   <li><a href="http://cran.r-project.org/faqs.html">FAQ</a></li>
   <li><a href="http://journal.r-project.org/">The R Journal</a></li>
   <li><a href="http://wiki.r-project.org/">Wiki</a></li>
   <li><a href="http://www.r-project.org/doc/bib/R-books.html">Books</a></li>
   <li><a href="http://www.r-project.org/other-docs.html">Other</a></li>
  </ul>
</div>
