<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="http://cran.r-project.org/">Help Using R</a> <span class="olive">&raquo;</span></p>  
  <p>Users can find general R information at
	<a href="http://cran.r-project.org/">The Comprehensive R Archive Network
	(CRAN)</a>. Other CRAN resources include:</p>
  <ul>
   <li><a href="http://cran.r-project.org/manuals.html">R Manuals</a></li>
   <li><a href="http://cran.r-project.org/faqs.html">R FAQ</a></li>
   <li><a href="http://cran.r-project.org/doc/Rnews/">R News</a></li>
   <li><a href="http://wiki.r-project.org/">R Wiki</a></li>
   <li><a href="http://www.r-project.org/doc/bib/R-books.html">R
   Books</a></li>
   <li><a href="http://www.r-project.org/other-docs.html">Other</a></li>
  </ul>

  &nbsp;
</div>
