<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="http://cran.r-project.org/">Help Using R</a> <span class="olive">&raquo;</span></p>  
  <p>In addition to the <a href="/help/books/">books</a> and
    <a href="/help/course-materials/">course materials</a> found on this site,
    users can find detailed manuals and FAQs for R can be found on
	<a href="http://cran.r-project.org/">The Comprehensive R Archive Network
	(CRAN)</a>.</p>
  &nbsp;
</div>
