<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Install <span class="olive">&raquo;</span></p>

  <ul>
    <li>Discover <a href="/packages/release/BiocViews.html#___Software">2207
      software packages</a> available in <em>Bioconductor</em> release
      <%=config[:release_version] %>.
    </li>
  </ul>

  <p>Get started with <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/install/">Install <em>Bioconductor</em></a></li>
    <li><a class="symlink" href="/help/support/">Get support</a></li>
    <li><a class="symlink" href="/help/newsletters/2016_January/">Latest newsletter</a></li>
    <li><a class="symlink" href="https://twitter.com/Bioconductor">Follow us on Twitter</a></li>
    <li><a class="symlink" rel="me" href="https://genomic.social/@bioconductor">Follow us on Mastodon</a></li>
    <li><a class="symlink" href="http://cran.r-project.org/">Install R</a></li>
  </ul>
</div>
