<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Install <span class="olive">&raquo;</span></p>
  <p>Get started with <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/install/">Install <em>Bioconductor</em></a></li>
    <li><a class="symlink" href="/packages/release/BiocViews.html#___Software">Explore packages</a></li>
    <li><a class="symlink" href="/help/support/">Get support</a></li>
    <li><a class="symlink" href="/help/newsletters/2015_January/">Latest newsletter</a></li>
    <li><a class="symlink" href="https://twitter.com/Bioconductor">Follow us on twitter</a></li>
    <li><a class="symlink" href="http://cran.r-project.org/">Install R</a></li>
  </ul>
</div>
