<div class="sidebar-box">
  <p class="format-bold">Install</p>

  <ul>
    <li>
      Discover
      <a href="/packages/release/BiocViews.html#___Software"
        >2266 software packages</a
      >
      available in <em>Bioconductor</em> release <%=config[:release_version] %>.
    </li>
  </ul>

  <p>Get started with <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/install/">Install <em>Bioconductor</em></a></li>
    <li><a class="symlink" href="/help/support/">Get support</a></li>
    <li><a class="symlink" href="http://cran.r-project.org/">Install R</a></li>
  </ul>
</div>
