<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Learn <span class="olive">&raquo;</span></p>
  <p>Master <em>Bioconductor</em> tools</p>
  <ul>
    <li><a class="symlink" href="/help/course-materials/">Recent courses</a></li>
    <li><a class="symlink" href="https://support.bioconductor.org">Support site</a></li>
    <li><a class="symlink" href="/help/package-vignettes/">Package vignettes</a></li>
    <li><a class="symlink" href="/help/workflows/">Common work flows</a></li>
    <li><a class="symlink" href="/help/faq">FAQ</a></li>
    <li><a class="symlink" href="/help/community/">Community resources</a></li>
    <li><a class="symlink" href="https://www.youtube.com/user/bioconductor">Videos</a></li>

  </ul>
</div>
