<div class="sidebar-box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="format-bold">Learn </p>
  <ul>
    <li><a class="symlink" href="https://training.bioconductor.org/">Education and Training</a></li>
    <li> Books
      <ul>
	<li><a class="symlink" href="https://www.huber.embl.de/msmb/">Modern Statistics for Modern Biology</a></li>
	<li><a class="symlink" href="/books/release/OSCA">Orchestrating Single-Cell Analysis with Bioconductor</a></li>
	<li><a class="symlink" href="https://jserizay.com/OHCA/">Orchestrating Hi-C Analysis with Bioconductor</a></li>
	<li><a class="symlink" href="https://rformassspectrometry.github.io/book/">R for Mass Spectrometry</a></li>
	<li><a class="symlink" href="/books/release/SingleRBook">SingleRBook</a></li>
	<li><a class="symlink" href="/books/release/csawBook">csawBook</a></li>
      
    </ul>
    </li>
    <li><a class="symlink" href="https://support.bioconductor.org">Support site</a></li>
    <li><a class="symlink" href="/help/course-materials/">Courses</a></li> 
    <li><a class="symlink" href="http://bioconductor.org/help/events/">Events
	calendar</a></li>
    
    <li><a class="symlink" href="/packages/release/BiocViews.html#___Workflow">Common workflows</a></li>
    <li><a class="symlink" href="/help/community/">Community contributed resources</a></li>
    <li><a class="symlink" href="https://www.youtube.com/user/bioconductor">Bioconductor YouTube Videos</a></li>
  </ul>
</div>
