<div class="sidebar-box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="format-bold">Learn </p>
  <p>Some Useful <em>Bioconductor</em> tools</p>
  <ul>
    <li><a class="symlink" href="/help/course-materials/">Courses</a></li>
    <li><a class="symlink" href="/help/education-training/">Education and Training</a></li>
    <li><a class="symlink" href="https://support.bioconductor.org">Support site</a></li>
    <li><a class="symlink" href="/help/package-vignettes/">Package vignettes</a></li>
    <li><a class="symlink" href="/help/publications">Literature citations</a></li>
    <li><a class="symlink" href="/packages/release/BiocViews.html#___Workflow">Common work flows</a></li>
    <li><a class="symlink" href="/help/faq">FAQ</a></li>
    <li><a class="symlink" href="/help/community/">Community resources</a></li>
    <li><a class="symlink" href="https://www.youtube.com/user/bioconductor">Videos</a></li>
    <li><em>Bioconductor</em> <a href="https://bioconductor.github.io/biocblog"/>Community Blog</a></li>
  </ul>
</div>
