<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Literature Search
  <span class="olive">&raquo;</span></p>
  <ul>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor&sort=ePubDate">PubMed</a></li>
    <li><a href="http://www.ncbi.nlm.nih.gov/pmc/?term=bioconductor&sort=ePubDate">PubMed Central</a></li>
    <li><a href="http://scholar.google.com/scholar?q=bioconductor&btnG=Search">Google Scholar</a></li>
  </ul>
  &nbsp;
</div>
