<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold">Literature Search</p>
  </div>
  <nav>
    <div>
      <a
        href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor"
        >PubMed</a
      >
    </div>
    <div>
      <a href="http://www.ncbi.nlm.nih.gov/pmc/?term=bioconductor&sort=ePubDate"
        >PubMed Central</a
      >
    </div>
    <div>
      <a href="http://scholar.google.com/scholar?q=bioconductor&btnG=Search"
        >Google Scholar</a
      >
    </div>
  </nav>
</div>
