<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="30" width="1" alt=""/>
  <p class="box_header">Bioc2023 Conference<span class="olive">&raquo;</span></p>
  <p>This is a hybrid in-person (Boston, MA, USA) and virtual conference from
  August 2-4, 2023.</p>
  <p><a href="https://bioc2023.bioconductor.org/submissions/">Abstract Submission</a>
    Now Open! Deadline for submission is March 19, 2023</p>
  <p>Become a Bioconductor <a href="https://bioc2023.bioconductor.org/sponsors/">Sponsor</a></p>
  <p>See <a href="https://bioc2023.bioconductor.org/">Bioc2023 Conference Website</a> for more details</p>
  <p>Registration is not open yet. Coming Soon!</p>
</div>
