<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="30" width="1" alt=""/>
  <p class="box_header">Bioc2022
    Conference<span class="olive">&raquo;</span></p>
  <p>This is a hybrid in-person and virtual conference.</p> 
  <p><a href="https://bioc2022.bioconductor.org/registration/">Registration</a>
    Now Open! Limited in-person tickets available.</p>
  <p>Scholarships to attend the conference are available. To apply please
  see <a href="https://bioc2022.bioconductor.org/registration/">Registration Page</a>
  <p>Become a Bioconductor <a href="https://bioc2022.bioconductor.org/sponsors/">Sponsor</a></p>
  <p>See <a href="https://bioc2022.bioconductor.org/">Bioc2022 Conference
      Website</a> for more details</p>
  <p>Abstract Submissions are now closed.</p>
</div>
