<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/mailing-list/">Mailing Lists</a>
  <span class="olive">&raquo;</span></p>
  <p>Post questions about Bioconductor packages to our mailing lists.
    Read the <a href="/help/mailing-list/posting-guide/">posting
    guide</a> before posting!</p>
  <ul>
    <li><a href="/help/mailing-list/#bioconductor">bioconductor</a></li>
    <li><a href="/help/mailing-list/#bioc-devel">bioc-devel</a></li>
  </ul>
</div>
