
<div style="padding:0 12px 0 0">
  <h2 style="min-height:40px;">
     <img height="36" width="37" src="/images/icons/help.gif" alt=""/> <a href="help/support/">Support</a>
</h2>

  <% @ml_item.each_with_index do |p, i| %>
    <div class="<%= "#{i % 2 == 0 ? 'grey_box' : 'white_box'}" %>">
      <a href="<%= p[:link] %>" title="<%= p[:title] %>">
        <b><%= excerptize(p[:title], :length => 40) %></b></a><br/>
      <abbr class="timeago" title="<%= "#{p[:date].iso8601}" %>">
        <%= p[:date].iso8601.to_s %></abbr>

    </div>
  <% end %>
  <br/>

</div>
