<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/newsletters/">Newsletters</a>
  <span class="olive">&raquo;</span></p>
  <ul>
    <li><a href="/help/newsletters/2014_April/">April 2014</a></li>
  </ul>
  <ul>
    <li><a href="/help/newsletters/2014_July/">July 2014</a></li>
  </ul>
  <ul>
    <li><a href="/help/newsletters/2014_October/">October 2014</a></li>
  </ul>
  <ul>
    <li><a href="/help/newsletters/2015_January/">January 2015</a></li>
  </ul>
  &nbsp;
</div>
