<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Source Code &amp; Build Reports
  <span class="olive">&raquo;</span></p>
  <p>Source code is stored in <a href="https://contributions.bioconductor.org/git-version-control.html">Git</a>.</p>
  <p>Software packages are built and checked nightly. Build reports:</p>
  <ul>
    <li><a href="/checkResults/">All</a></li>
    <li><a href="/checkResults/release/bioc-LATEST/">Release</a></li>
    <li><a href="/checkResults/devel/bioc-LATEST/">Development</a></li>
    <li><a href="/packages/stats/">Package Download Statistics</a></li>
    <li><a href="https://code.bioconductor.org/">Browsable code base</a></li>
  </ul>
  &nbsp;
</div>
