<div class="sidebar-box">
  <div class="sidebar-box-header">
    <p class="format-bold">Source Code &amp; Build Reports</p>
    <p>
      Source code is stored in
      <a href="https://contributions.bioconductor.org/git-version-control.html"
        >Git</a
      >.
    </p>
  </div>
  <p>Software packages are built and checked nightly. Build reports:</p>
  <nav>
    <li><a href="/checkResults/">All</a></li>
    <li><a href="/checkResults/release/bioc-LATEST/">Release</a></li>
    <li><a href="/checkResults/devel/bioc-LATEST/">Development</a></li>
    <li><a href="/packages/stats/">Package Download Statistics</a></li>
    <li><a href="https://code.bioconductor.org/">Browsable code base</a></li>
  </nav>
  &nbsp;
</div>
