<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Source Code &amp; Build Reports
  <span class="olive">&raquo;</span></p>
  <p>Source code is stored in
    <a href="https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks">svn</a>
    (user: <code>readonly</code>, pass: <code>readonly</code>).
  </p>
  <p>Software packages are built and checked nightly. Build reports:</p>
  <ul>
    <li><a href="/checkResults/">All</a></li>
    <li><a href="/checkResults/release/bioc-LATEST/">Release</a></li>
    <li><a href="/checkResults/devel/bioc-LATEST/">Development</a></li>
    <li><a href="/developers/rss-feeds/">RSS feeds</a></li>
    <li><a href="/packages/stats/">Package Download Statistics</a></li>

  </ul>
  &nbsp;
</div>
