<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/publications/">Publications</a>
  <span class="olive">&raquo;</span></p>
  <p>Literature:</p>
  <ul>

    <li><a href="/help/publications/index.html#featured">Featured</a>
        and
        <a href="/help/publications/index.html#recent">recent</a> <em>Bioconductor</em>-related
        citations in the literature.
    </li>

     <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor&sort=ePubDate">PubMed</a>,
         <a href="http://www.ncbi.nlm.nih.gov/pmc/?term=bioconductor&sort=ePubDate">PubMed Central</a>,
         and <a href="http://scholar.google.com/scholar?q=bioconductor&btnG=Search">Google
         Scholar</a> searches.
    </li>
    
  </ul>
  <p>Books:</p>
  <ul>
    <li><a href="/help/publications/books/bioinformatics-and-computational-biology-solutions/">Bioinformatics and Computational Biology Solutions Using R and
      Bioconductor</a></li>
    <li><a href="/help/publications/books/r-programming-for-bioinformatics/">R Programming for Bioinformatics</a></li>
    <li><a href="/help/publications/books/bioconductor-case-studies/">Bioconductor Case Studies</a></li>
  </ul>
  &nbsp;
</div>
