<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/publications/">Publications</a>
  <span class="olive">&raquo;</span></p>
  <p>Scientific literature</p>
  <ul>
    <li><a href="/help/publications/index.html#featured">Featured</a>
        and
        <a href="/help/publications/index.html#recent">recent</a> citations.
    </li>

    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor&sort=pubdate">PubMed</a>,
         <a href="http://www.ncbi.nlm.nih.gov/pmc/?term=bioconductor&sort=pubdate">PubMed Central</a>,
         and <a href="http://scholar.google.com/scholar?q=bioconductor&btnG=Search">Google
         Scholar</a> searches.
    </li>
  </ul>
  <p>Newsletter</p>
  <ul>
    <li>2016:
      <a href="/help/newsletters/2016_January/">January</a></li>
    <li>2015:
      <a href="/help/newsletters/2015_January/">January</a>,
      <a href="/help/newsletters/2015_April/">April</a>,</li>
      <a href="/help/newsletters/2015_July/">July</a>,</li>
      <a href="/help/newsletters/2015_October/">October</a>.</li>
    <li>2014:
      <a href="/help/newsletters/2014_April/">April</a>,
      <a href="/help/newsletters/2014_July/">July</a>,
      <a href="/help/newsletters/2014_October/">October</a>.</li>
  </ul>
</div>
