<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Logistics</p>

  <h3>
      <a href="https://register.bioconductor.org/BioC2015/">Registration
      now open</a>!
  </h3>

  <p><ul>

      <li>Submit
      a <a
      href="https://register.bioconductor.org/BioC2015/poster_submit.php">
      Poster</a> (due July 15).
      </li>

      <li><a href="http://www.fredhutch.org/en/contact-us/visit-us.html">Campus
      map</a></li>

      <li>Conference attendees are responsible for their own
      <a href="#accomodations">accommodations</a>.</li>

    </ul>
  </p>
</div>
