<div class="sidebar-box">
  <p class="format-bold">Logistics</p>

  <h3>
      <a href="https://register.bioconductor.org/BioC2015/">Registration
      now open</a>!
  </h3>

  <p><ul>
<!--
      <li>Submit
      a <a
      href="https://register.bioconductor.org/BioC2015/poster_submit.php">
      Poster</a> (due July 15).
      </li>
-->
      <li><a href="http://www.fredhutch.org/en/contact-us/visit-us.html">Campus
      map</a></li>

      <li>Conference attendees are responsible for their own
      <a href="#accomodation">accommodations</a>.</li>

    </ul>
  </p>
</div>
