<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/about/release-announcements/">Release Announcements</a>
  <span class="olive">&raquo;</span></p>
  <ul>
    <li><a href="/news/bioc_3_18_release">Bioconductor 3.18</a> October 25, 2023</li>
    <li><a href="/news/bioc_3_17_release">Bioconductor 3.17</a> April 26, 2023</li>
    <li><a href="/news/bioc_3_16_release">Bioconductor 3.16</a> November 2, 2022</li>
    <li><a href="/news/bioc_3_15_release">Bioconductor 3.15</a> April 27, 2022</li>
    <li><a href="/news/bioc_3_14_release">Bioconductor 3.14</a> October 27, 2021</li>
    <li><a href="/news/bioc_3_13_release">Bioconductor 3.13</a> May 20, 2021</li>
    <li><a href="/news/bioc_3_12_release">Bioconductor 3.12</a> October 28, 2020</li>
    <li><a href="/news/bioc_3_11_release">Bioconductor 3.11</a> April 28, 2020</li>
    <li><a href="/news/bioc_3_10_release">Bioconductor 3.10</a> October 30, 2019</li>
    <li><a href="/news/bioc_3_9_release">Bioconductor 3.9</a> May 3, 2019</li>
    <li><a href="/news/bioc_3_8_release">Bioconductor 3.8</a> October 31, 2018</li>
    <li><a href="/news/bioc_3_7_release">Bioconductor 3.7</a> May 1, 2018</li>
    <li><a href="/news/bioc_3_6_release">Bioconductor 3.6</a> October 31, 2017</li>
    <li><a href="/news/bioc_3_5_release">Bioconductor 3.5</a> April 25, 2017</li>
    <li><a href="/news/bioc_3_4_release">Bioconductor 3.4</a> October 18, 2016</li>
    <li><a href="/news/bioc_3_3_release">Bioconductor 3.3</a> May 4, 2016</li>
    <li><a href="/news/bioc_3_2_release">Bioconductor 3.2</a> October 14, 2015</li>
    <li><a href="/news/bioc_3_1_release">Bioconductor 3.1</a> April 17, 2015</li>
    <li><a href="/news/bioc_3_0_release">Bioconductor 3.0</a> October 14, 2014</li>
    <li><a href="/news/bioc_2_14_release">Bioconductor 2.14</a> April 14, 2014</li>
    <li><a href="/news/bioc_2_13_release">Bioconductor 2.13</a> October 15, 2013</li>
    <li><a href="/news/bioc_2_12_release">Bioconductor 2.12</a> April 4, 2013</li>
    <li><a href="/news/bioc_2_11_release">Bioconductor 2.11</a> October 3, 2012</li>
    <li><a href="/news/bioc_2_10_release">Bioconductor 2.10</a> April 2, 2012</li>
    <li><a href="/news/bioc_2_9_release">Bioconductor 2.9</a> November 1, 2011</li>
    <li><a href="/news/bioc_2_8_release">Bioconductor 2.8</a> April 14, 2011</li>
    <li><a href="/news/bioc_2_7_release">Bioconductor 2.7</a> October 18, 2010</li>
    <li><a href="/news/bioc_2_6_release">Bioconductor 2.6</a> April 23, 2010</li>
    <li><a href="/news/bioc_2_5_release">Bioconductor 2.5</a> October 28, 2009</li>
</ul>
  &nbsp;
</div>
