<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Literature Search
  <span class="olive">&raquo;</span></p>
  <ul>
    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=bioconductor">PubMed</a></li>
    <li><a href="http://scholar.google.com/scholar?q=bioconductor&ie=UTF-8&oe=UTF-8&hl=en&btnG=Search">Google Scholar</a></li>
    <li><a href="http://www.biomedcentral.com/search/results.asp?terms=bioconductor&drpPhrase1=and&type=niche_advanced_results&jou_id=1002&Search.x=10/">BioMed Central Bioinformatics</a></li>
    &nbsp;
    <li><a href="http://biostatistics.oxfordjournals.org/cgi/search?fulltext=bioconductor&x=0&y=0">Biostatistics</a></li>
    <li><a href="http://bioinformatics.oxfordjournals.org/cgi/search?fulltext=bioconductor&x=0&y=0">Bioinformatics</a></li>
    <li><a href="http://www.ingentaconnect.com/search?title=bioconductor&database=1&search.x=0&search.y=0">Ingenta</a></li>
    <li><a href="http://www.bepress.com/cgi/query.cgi?=&connector_all=and&context=http%3A%2F%2Fwww.bepress.com&connector_1=and&field_1=full_text&op_1=eq&value_1=bioconductor&advanced=1&connector_2=and&field_2=full_text&op_2=eq&value_2=&advanced=1&connector_3=and&field_3=ancestor.link&op_3=in&value_3=http%3A%2F%2Fwww.bepress.com%2Fjournals&hidden_3=1&connector_4=and&field_4=peer_reviewed&op_4=eq&advanced=1&format=cover_page&query=Processing...">BEPress</a></li>
  </ul>
  &nbsp;
</div>
