<!-- htmllint preset="none" -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="The Bioconductor project aims to develop and share open source software for precise and repeatable analysis of biological data. We foster an inclusive and collaborative community of developers and data scientists." />

  <% if item.identifier =~ /^\/help\/bioc-views\/package-pages\// and not
  item.identifier =~ /\/all-/ %>
  <meta property="og:title" content="<%= item[:title] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Bioconductor" />
  <meta property="og:description" content="<%= item[:Description] %>" />
  <meta property="og:url" content="http://bioconductor.org/packages/<%=item[:title]%>/" />
  <meta property="og:image" content="http://bioconductor.org/images/logo/jpg/bioconductor_logo_rgb.jpg" />
<% end %>

  <%
    if (item.identifier =~ /BiocViews\.html$/)
      item[:rebase] = true
    end
  %>
    
  <%
    title = " - #{@item[:title]}"
    title = "" if @item[:title].nil? or @item[:title].strip.empty?
  %>
    
  <title>Bioconductor<%= title %></title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <link rel="stylesheet" type="text/css" href="/style/fonts.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/colors.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/typography.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/code.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/gallery.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/blockquote.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/lists.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/breadcrumbs.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/buttons.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/announcement.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/hero.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/bioconductor.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/header.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/home.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/get-started.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/learn.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/style/footer.css" media="screen"/>
  <link rel="SHORTCUT ICON" type="image/x-icon" href="/favicon.ico" />
  <link rel="ICON" type="image/x-icon" href="/favicon.ico" />


</head>
