<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="all" />
  
  <%
    if (item.identifier  =~ /BiocViews\.html$/)
        item[:rebase] = true
    end
   %>
  
  <% if !item[:rebase].nil? && item[:rebase]%>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        if (!window.location.href.match(/bioconductor\.org|\/\/localhost/i)) {
            var mirror = true;
            document.write('<base href="http://www.bioconductor.org"/>\n');
        } 
    </script>
  <% else %>
    <script type="text/javascript" src="/js/jquery.js"></script>
  <% end %>
  <%# see about including this conditionally, only needed for pkg landing pages:%>
  <script src="/js/jquery.tools.min.js"></script>

  
  <% 
	title = " - #{@item[:title]}"
	title = "" if @item[:title].nil? or @item[:title].strip.empty?
  %>
  <title>Bioconductor<%= title %></title>
  <link rel="stylesheet" type="text/css" href="/style/bioconductor.css" media="screen" />
  <link rel="SHORTCUT ICON" type="image/x-icon" href="/favicon.ico" />
  <link rel="ICON" type="image/x-icon" href="/favicon.ico" />
  <script type="text/javascript" src="/js/bioconductor.js"></script>
 <% if item.identifier =~ /help\/cloud/ and not item.identifier =~ /launch/ %>
  <script type="text/javascript" src="/js/encrypt.min.js"></script>
 <% end %>
  <script type="text/javascript" src="/js/jquery.corner.js"></script>
  <script type="text/javascript" src="/js/jquery.timeago.js"></script>
  <script type="text/javascript" src="/js/bioc-style.js"></script>
  <script type="text/javascript" src="/js/versions.js"></script>

  <!-- Google Analytics script -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9338486-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
