<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/support/">Support</a>
  <span class="olive">&raquo;</span></p>
  <p>Post questions about Bioconductor packages to our 
    <a href="https://support.bioconductor.org/">support site</a>.
    Read the <a href="/help/support/posting-guide/">posting
    guide</a> before posting!</p>
  <ul>
    <li><a href="/help/support/#bioc-devel">bioc-devel mailing list</a> - for package developers</li>
  </ul>
</div>
