<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="https://support.bioconductor.org/">Support</a>
  <span class="olive">&raquo;</span></p>
  <p>
    Please read the <a href="/help/support/posting-guide/">posting
    guide</a>. Post questions about Bioconductor
    to one of the following locations:</p>
  <ul>
    <li><a href="https://support.bioconductor.org/">Support site</a> -
        for questions about Bioconductor packages</li>
    <li><a href="/help/support/#bioc-devel">Bioc-devel</a> mailing
        list - for package developers</li>
  </ul>
</div>
