<div class="sidebar-box">
  <p class="format-bold">
    <a href="/help/support/">Support</a>
  </p>
  <ul>
    <li>
      <a href="https://support.bioconductor.org/">Support site</a> - for
      questions about Bioconductor packages
    </li>
    <li>
      <a href="https://stat.ethz.ch/mailman/listinfo/bioc-devel">Bioc-devel</a> mailing list - for
      package developers
    </li>
    <li>
      <a href="/help/support/">Other Community Forums</a> - for general
      conversation and collaboration
    </li>
  </ul>
</div>
