
<div style="padding:0 12px 0 0">
  <h2 style="min-height:40px;">
	Subversion Logs
</h2>

<p>This is a list of recent commits to <a href="https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/">the development branch</a>
of the Bioconductor Subversion repository. </p>

<p>This list is also available as an <a href="/rss/svnlog.rss">RSS feed</a>.  (<a href="/rss/svnlog.release.rss">release branch</a>)</p>



  <% @svn_items.each_with_index do |p, i| %>
    <div class="<%= "#{i % 2 == 0 ? 'grey_box' : 'white_box'}" %>">
      Revision: <%= p[:revision] %><br/>
      Author: <%= p[:author] %><br/>
      Date: <%= p[:date] %><br/>
      Paths:<br/>
	  <%= p[:table] %>
		<pre style="background-color: <%= i % 2 == 0 ? "#e6e8e7" : "#ffffff" %>;"><%=p[:msg]%></pre>
    </div>
  <% end %>
  <br/>

</div>
