
<div style="padding:0 12px 0 0">
  <h2 style="min-height:40px;">
	Subversion Logs
</h2>

<p>Recent commits to <a href="https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/">
	https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/</a>
	:</p>


  <% @svn_items.each_with_index do |p, i| %>
    <div class="<%= "#{i % 2 == 0 ? 'grey_box' : 'white_box'}" %>">
      Revision: <%= p[:revision] %><br/>
      Author: <%= p[:author] %><br/>
      Date: <%= p[:date] %><br/>
      Paths:<br/>
		<% for path in p[:paths]%>
			<%= path[:action]%>
			<a href="https://hedgehog.fhcrc.org/bioconductor<%=path[:path]%>"><%= path[:path]%></a>
			<% if path[:copyfrom_path] and path[:copyfrom_rev]%>
			 from <%= path[:copyfrom_path]%>:<%=path[:copyfrom_rev]%>
			<% end %>
			<br/>
		<% end %>
		<pre style="background-color: <%= i % 2 == 0 ? "#e6e8e7" : "#ffffff" %>;"><%=p[:msg]%></pre>
    </div>
  <% end %>
  <br/>

</div>
