<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="30" width="1" alt=""/>
  <p class="box_header" style="color:red;">Feedback Needed!<span class="olive">&raquo;</span></p>
  <p>We are redesigning this website and we need YOUR input!</p>
  <p>Whether you are a wet lab biologist, student, data analyst, educator, expert developer or other, your
    perspectives will shape Bioconductor.org's future. The survery takes about 5-10 minutes.</p>
  <p>Closes June 23</p>
  <p>Take the survey
  here: <a href="https://t.co/0F3DWIivPX">website
  redesign survey</a></p>
</div>
