<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="30" width="1" alt=""/>
  <p class="box_header">Important Notice!<span class="olive">&raquo;</span></p>
  <p>On March 8th, the Bioconductor Core Team will rename the default branch on
    `git.bioconductor.org` to `devel`.</p>
  <p>This changes affects maintainers of packages.</p>
  <p>For more details see:
  <ol>
    <li><a href="https://bioconductor.github.io/biocblog/posts/2023-03-01-transition-to-devel/">biocblog post</a></li>
    <li><a href="https://contributions.bioconductor.org/branch-rename-faqs.html">branch renaming FAQ</a></p></li>
  </ol>
</div>
