<div class="sidebar-box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="format-bold">Use </p>
  <p>Create bioinformatic solutions with <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/packages/release/BiocViews.html#___Software">Software</a>,
      <a class="symlink" href="/packages/release/BiocViews.html#___AnnotationData">Annotation</a>, and
      <a class="symlink"
      href="/packages/release/BiocViews.html#___ExperimentData">Experiment</a>
      packages
    </li>
    <li>Bioconductor Books: <a class="symlink" href="/books/release/csawBook">csawBook</a>,
      <a class="symlink" href="/books/release/OSCA">OSCA</a>, and
      <a class="symlink" href="/books/release/SingleRBook">SingleRBook</a>
    </li>
    <li><a class="symlink" href="/help/docker/">Docker</a></li>
    <li>Latest <a class="symlink" href="/news/bioc_<%= config[:release_version].sub(".", "_") %>_release/">release announcement</a></li>
    <li> Use <em>Bioconductor</em> in
      the <a href="https://anvilproject.org">AnVIL</a>. See
      our <a href="https://anvil.bioconductor.org">project
        updates</a>.</li>
    <li><a class="symlink" href="https://slack.bioconductor.org/">Community Slack</a> sign-up<li>
    <li><a class="symlink" href="/help/support/">Support site</a></li>
    <li><a class="symlink" href="http://bioconductor.org/help/events/">Events
	      calendar</a>; email <i>events at bioconductor.org</i> to add an
	      event.</li>
  </ul>
</div>
