<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Use <span class="olive">&raquo;</span></p>
  <p>Create bioinformatic solutions with <em>Bioconductor</em></p>
  <ul>
    <li><a class="symlink" href="/packages/release/BiocViews.html#___Software">Software</a>,
      <a class="symlink" href="/packages/release/BiocViews.html#___AnnotationData">Annotation</a>, and
      <a class="symlink"
      href="/packages/release/BiocViews.html#___ExperimentData">Experiment</a>
      packages
    </li>
    <li><a class="symlink" href="/help/bioconductor-cloud-ami/">Amazon Machine Image</a></li>
    <li><a class="symlink" href="/news/bioc_2_14_release/">Latest release annoucement</a></li>
    <li><a class="symlink"
    href="https://stat.ethz.ch/mailman/listinfo/bioconductor">Subscribe
    to the mailing list</a></li>
  </ul>
</div>
