<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">Use <span class="olive">&raquo;</span></p>
  <p>Create bioinformatic solutions with <em>Bioconductor</em></p>
  <ul>
    <li>Latest <a class="symlink" href="/news/bioc_<%= config[:release_version].sub(".", "_") %>_release/">release announcement</a>
    <ul>
      <li><a class="symlink" href="/packages/release/BiocViews.html#___Software">Software Packages</a></li>
      <li><a class="symlink" href="/packages/release/BiocViews.html#___ExperimentData">Experiment Data Packages</a></li>
      <li><a class="symlink" href="/packages/release/BiocViews.html#___AnnotationData">Annotation Packages</a></li>
      <li><a class="symlink" href="/packages/release/BiocViews.html#___Workflows">Common Workflows</a></li>
    </ul>
    </li>
    <li><a class="symlink" href="/help/docker/">Docker</a></li>
    <li> Use <em>Bioconductor</em> in
      the <a href="https://anvilproject.org">AnVIL</a>. See
      our <a href="https://anvil.bioconductor.org">project
        updates</a>.</li>
    <li><a class="symlink" href="/help/package-vignettes/">Package vignettes</a></li>
    <li><a class="symlink" href="/help/support/">Support site</a></li>
  </ul>
</div>
