<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/workflows/">Workflows</a>
  <span class="olive">&raquo;</span></p>
  <p>
    Common Bioconductor workflows include:
  <ul>
    <li><a href="/help/workflows/arrays/">Oligonucleotide Arrays</a></li>
    <li><a href="/help/workflows/high-throughput-sequencing/">High-throughput Sequencing</a></li>
    <li><a href="/help/workflows/annotation/">Annotation</a></li>
    <li><a href="/help/workflows/annotation/Annotating Ranges">Annotating Ranges</a></li>
    <li><a href="/help/workflows/variants/">Variants</a></li>
    <li><a href="/help/workflows/highthroughputassays/">Flow Cytometry</a> and other assays</li>
    <li><a href="/help/workflows/generegulation/">Finding Candidate Binding Sites for Known Transcription Factors via Sequence Matching</a></li>
  </ul>
  &nbsp;
</div>
