<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/workflows/">Workflows</a>
  <span class="olive">&raquo;</span></p>
  <h3> Common Bioconductor workflows include:</h3>
  <p> Basic:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/sequencing/sequencing">Introduction to Bioconductor for Sequence Data</a></li>
    <li><a href="/packages/devel/workflows/html/arrays/arrays">Oligonucleotide Arrays</a></li>
    <li><a href="/packages/devel/workflows/html/liftOver/liftOver/">Changing genomic coordinate systems with rtracklayer::liftOver</a></li>
    <li><a href="/packages/release/data/experiment/html/parathyroidSE.html">Counting Reads for Differential Expression</a> (parathyroideSE vignette)</li>
  </ul>
  <p> Annotations:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/annotation/Annotation_Resources">Annotation Resources</a></li>
    <li><a href="/packages/devel/workflows/html/annotation/Annotating_Genomic_Ranges">Annotating Genomic Ranges</a></li>
    <li><a href="/packages/devel/workflows/html/variants/Annotating_Genomic_Variants">Annotating Genomic Variants</a></li>
  </ul>
  <p> Gene Expression:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/rnaseqGene/rnaseqGene">RNA-Seq workflow: gene-level exploratory analysis and differential expression</a></li>
    <li><a href="/packages/devel/workflows/html/RNAseq123/RNAseq123">RNAseq123: RNA-sequencing data using the edgeR, limma, and Glimma packages</a></li>
    <li><a href="/packages/devel/workflows/html/ExpressionNormalizationWorkflow/ExpressionNormalizationWorkflow">Identify the effects of technical and confounding factors on gene expression data and normalize</a></li>
    <li><a href="/packages/devel/workflows/html/RnaSeqGeneEdgeRQL/RnaSeqGeneEdgeRQL">Gene-level RNA-seq differential expression and pathway analysis</a></li>
    <li><a href="/packages/devel/workflows/html/EGSEA123/EGSEA123">Easy and efficient ensemble gene set testing with EGSEA</a></li>
  </ul>
  <p> Single Cell:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/simpleSingleCell/intro">analysis pipeline for scRNA-seq data</a></li>
    <li><a href="/packages/devel/workflows/html/cytofWorkflow/cytofWorkflow">pipeline for differential analyses of High dimensional mass and flow cytometry (HDCyto) experiments</a></li>
  </ul>
  <p> Genomic Variants:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/eQTL/cloudeqtl">Cloud-enabled cis-eQTL search and annotation</a></li>
  </ul>
  <p> Epigentics:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/generegulation/generegulation">Candidate Binding Sites for Known Transcription Factors</a></li>
    <li><a href="/packages/devel/workflows/html/chipseqDB/chipseqDB">Differential Binding from ChIP-seq data</a></li>
    <li><a href="/packages/devel/workflows/html/methylationArrayAnalysis/text">analysis of methylation array data.</a></li>
  </ul>
  <p> Proteomics:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/proteomics/proteomics">Mass spectrometry and proteomics data analysis</a></li>
    <li><a href="/packages/devel/workflows/html/highthroughputassays/high-throughput-assays">Flow Cytometry</a> and other assays</li>
  </ul>
  <p> Resource Querying:</p>
  <ul>
    <li><a href="/packages/devel/workflows/html/recountWorkflow/recount-workflow">How to use Bioconductor recount2 package</a></li>
    <li><a href="/packages/devel/workflows/html/TCGAWorkflow/TCGAWorkflow">series of biologically focused integrative analyses of different molecular data.</a></li>
  </ul>
  &nbsp;
</div>
