<%# Need to handle it for the workflow index page which may not have the variables below assigned. %>
<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">About This Document <span class="olive">&raquo;</span></p>

  <% 
  ri = RowIndexer.new
  w = workflow_helper(item)
  if w.has_key? :user_defined_metadata 
      md = w[:user_defined_metadata]
  end
  %>

  <table>
    <tbody>
      <tr class="<%= ri.rowclass %>">
        <td>Package name</td>
        <td><%= w[:package] %></td>
      </tr>
      <tr class="<%= ri.rowclass %>">
        <td>Built with Bioconductor (R)</td>
        <td><%= w[:built_with_bioc]%>  (<%= w[:built_with_R]%>)</td>
      </tr>
      <tr class="<%= ri.rowclass %>">
        <td>Last Built</td>
        <td><%= w[:built_at] %></td>
      </tr>
      <tr class="<%= ri.rowclass %>">
        <td>Last Modified</td>
        <td><%= w[:last_commit]%> (r<%= w[:svn_revision] %>)</td>
      </tr>
      <tr class="<%= ri.rowclass %>">
        <td>Source Package</td>
        <td><a href="<%=w[:source_tarball]%>"><%=w[:source_tarball]%></a></td>
      </tr>
      <tr class="<%= ri.rowclass %>">
        <td>Windows Binary</td>
        <td>
          <% if w.has_key? :win_pkg %>
            <a href="<%=w[:win_pkg]%>"><%=w[:win_pkg]%></a>
          <% end %>
        </td>
      </tr>
<!--
      <tr class="<%= ri.rowclass %>">
        <td>Mac OS X 10.10 (Yosemite)</td>
        <td>
          <% if w.has_key? :mac_pkg %>
            <a href="<%=w[:mac_pkg]%>"><%=w[:mac_pkg]%></a>
          <% end %>
        </td>    
      </tr>
-->
      <tr class="<%= ri.rowclass %>">
        <td>R Script</td>
        <td><a href="<%=w[:r_source]%>"><%=w[:r_source]%></a>
        </td>    
      </tr>
          
    </tbody>
  </table>
  
  <% if w.has_key? :output_file and w[:output_file] =~ /\.pdf$/i %>
    | <a href="<%=w[:output_file]%>">PDF Vignette</a>
  <% end %>
    
  <p>To install this workflow under Bioconductor <%= @config[:release_version] %>, start R and enter:</p>
  
  <pre style="margin-bottom: 0;">source("http://bioconductor.org/workflows.R")
workflowInstall("<%=w[:package]%>")</pre>
</div>
