<div class="shaded_box">
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header"><a href="/help/workflows/">Workflows</a>
  <span class="olive">&raquo;</span></p>
  <p>Bioconductor meets your established and leading-edge genomic analysis needs.
     Common workflows in the Bioconductor project are: </p>
  <ul>
    <li><a href="/help/workflows/oligo-arrays/">Oligonucleotide Arrays</a></li>
    <li><a href="/help/workflows/high-throughput-sequencing/">High-throughput Sequence Analysis</a></li>
    <li><a href="/help/workflows/annotation-data/">Accessing Annotation Data</a></li>
    <li><a href="/help/workflows/flow-cytometry/">Flow Cytometry</a></li>
  </ul>
  &nbsp;
</div>
