<%# Need to handle it for the workflow index page which may not have the variables below assigned. %>
<div class="shaded_box">
  <% 
  w = workflow_helper(item)
  %>
  <img src="/images/inv.gif" align="right" height="200" width="1" alt=""/>
  <p class="box_header">About This Document <span class="olive">&raquo;</span></p>
  Package: <%= w[:package] %><br/>
  Built with R: <%= w[:built_with_R]%><br/>
  Built with Bioconductor: <%= w[:built_with_bioc]%><br/>
  <a href="<%=w[:source_tarball]%>">Source Package</a><br/>
  <a href="<%=w[:mac_pkg]%>">Mac Binary</a><br/>
  <a href="<%=w[:win_pkg]%>">Windows Binary</a><br/>
  <a href="<%=w[:r_source]%>">R Source Code</a><br/>
  Last Built At: <%= w[:built_at]%><br/>

</div>
