<%= doctype %>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <%= render("/_sitehead/") %>
  <body>
    <%= render("/_nav/", :section_navigation => has_subnav?(@item) && subnav_items(@item).length > 0) %>
    <div id="SiteContainer" class="SiteContainer">
      <div id="PageContent" class="PageContent WithRightRail">
        <%= render("/_crumbs/") %>
        <h1><img src="/images/icons/help.gif" alt="" /><%=  @item[:title] %></h1>
        <p class="location"><%= @item[:location] %></p>
        <p class="dates"><%= @item[:start_date] %> ~ <%= @item[:end_date] %></p>
        <h2>Instructors</h2>
        <ul class="inline_list">
          <% @item[:instructors].each do |t| %>
          <li><%= t %></li>
          <% end %>
        </ul>
        <h2>Description</h2>
        <p><%= @item[:description] %></p>
        <h2>Materials</h2>
        <%= yield %>
      </div>
      <div id="RightRail" class="RightRail">
        <a name="section-navigation"></a> <!-- accessibility anchor -->
        <%= render("/_bioc_release_packages/") %>
        <%= render("/_workflows/") %>
      </div>
      <%= render("/_footer/") %>
    </div>
  </body>
</html>
