<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Bioconductor TEST SITE - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen">
    <!--[if gte IE 7]>
    <link rel="stylesheet" type="text/css" href="/style/corners-ie.css" media="screen">
    </style>
    <![endif]-->

  </head>
  <body>
    <div id="main">
<%= yield %>
    </div>
    <div id="sidebar">
      <h2>Getting Started</h2>
      <ul>
        <li><a href="#">Installation</a></li>
      </ul>
      <h2>Community</h2>
      <ul>
        <li><a href="">Upcoming Events</a></li>
        <li><a href="">Project Blog</a></li>
      </ul>
      <h2>Getting Help</h2>
      <ul>
        <li><a href="">Workflows</a></li>
        <li><a href="">Software Packages</a></li>
        <li><a href="">Course Materials</a></li>
        <li><a href="">Books</a></li>
      </ul>
    </div>
  </body>
</html>
