<%= doctype %>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <%= render("/_sitehead/") %>
  <body>
    <%= render("/_nav/") %>
  <div id="SiteContainer" class="SiteContainer">
  	<div id="PageContent" class="PageContent">
      <% if (@item.identifier != '/')%>
        <%= render("/_crumbs/") %>
      <% end %>
      <% if has_subnav?(@item) %>
        <%= render("/_subnav/", :pages => subnav_items(@item)) %>
      <% end %>
      <%= yield %>
    </div>
    <%= render("/_footer/") %>
  </div>
  </body>
</html>
