<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="all" />
  <title>Bioconductor TEST SITE - <%= @item[:title] %></title>
  <link rel="stylesheet" type="text/css" href="/style/style.css" media="screen" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.corner.js"></script>
  <script type="text/javascript" src="/js/jquery.timeago.js"></script>
</head>
